/* MailChimp for WP styles
----------------------------------------------------------------- */
form.mc4wp-form {
	position:relative;
	padding-right: 7em;
	max-width: 440px;
	margin: 0 auto;
}
form.mc4wp-form .mc4wp-form-fields input[type="email"] {
	width: 100%;
	padding: 0.9em;
	vertical-align:top;
    -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
form.mc4wp-form .mc4wp-form-fields input[type="submit"] {
	position: absolute;
	z-index:1;
	right: 0;
	top: 0;
	/*max-width:8.5em;*/
	vertical-align:top;
	/*padding-left: 2.1em;
	padding-right: 2.1em;*/
	font-size: 10px;
	font-family: rubik;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 1.77em 2.8em;
}

form.mc4wp-form .mc4wp-alert {
	margin: 1.5em 0;
	padding: 1em;
	line-height:1.5em;
}
@media (max-width: 1679px) {
	form.mc4wp-form .mc4wp-form-fields input[type="submit"] { padding: 1.3em 1.8em;}
}
@media (max-width: 1439px) {
	/*form.mc4wp-form .mc4wp-form-fields input[type="submit"] { padding: 0.8em 1.8em;}*/
}
@media (max-width: 1263px) {
	form.mc4wp-form .mc4wp-form-fields input[type="submit"] { padding: 1.1em 1.5em;}
}

.mprm_ie form.mc4wp-form .mc4wp-form-fields input[type="email"] {
	padding: 1.025em;
}