/* ThemeREX Addons
------------------------------------------------------------------------------------ */

/* Grid */
.sidebar .trx_addons_columns_wrap {
	margin-right: 0;
}
.sidebar .trx_addons_columns_wrap [class*="trx_addons_column-"] {
	display:block;
	width: 100%;
	padding: 0;
}


/* Scroll to top */
.menu_style_right .trx_addons_scroll_to_top {
	left: 2em;
	right: auto;
}


/* Layouts */
.menu_style_left .sc_layouts_row_fixed_on {	margin-left: 6rem !important; }
.menu_style_right .sc_layouts_row_fixed_on {margin-right: 6rem !important;}
body.mobile_layout.menu_style_left .sc_layouts_row_fixed_on { margin-left: 0 !important; }
body.mobile_layout.menu_style_right .sc_layouts_row_fixed_on {margin-right: 0 !important; }

.header_position_under .top_panel .wpb_row {
	background-color: transparent !important;
}

.top_panel.with_bg_image .sc_layouts_row:not(.sc_layouts_row_fixed_on) {
	background-color:transparent;
}


/* Search field inside content */
.content .search_wrap {
	max-width:50%;
	margin:0;
}
.post_item_none_search .search_wrap,
.post_item_none_archive .search_wrap {
	max-width:none;
}
.content .search_wrap .search_form_wrap {
	width: 100%;
}
.content .search_wrap .search_form_wrap .search_field {
	width:100%;
}
.content .search_wrap .search_submit {
	background-color:transparent;
}
.post_item_none_search .search_wrap .search_field,
.post_item_none_archive .search_wrap .search_field {
	padding: 1.2em 3em 1em 1em !important;
}
.post_item_none_search .search_wrap .search_submit,
.post_item_none_archive .search_wrap .search_submit {
	left: auto;
	right: 0;
	top: 0;
	padding: 0 1em;
}
.content .search_wrap .search_results {
	width:100%;
}



/* Slider
---------------------------------------------- */
.slider_outer {
	/*overflow: hidden;*/
	z-index: 6;
}
.sc_slider_controls .slider_controls_wrap > a, 
.slider_container.slider_controls_side .slider_controls_wrap > a, 
.slider_outer_controls_side .slider_controls_wrap > a, 
.slider_outer_controls_top .slider_controls_wrap > a, 
.slider_outer_controls_bottom .slider_controls_wrap > a {
	width: 5em;
	height: 6em;
	line-height: 6em;
	margin-left: -7px;
	margin-top: 0;
	transform: translateY(-50%);
}

.slider_container .slider-slide .slide_content .sc_title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	max-width: 640px;
	max-width: 710px;
}
.slider_container .slider-slide .slide_content .sc_title .sc_item_button {
	margin-top: 2em;	
}
.slider_container .slider-slide .slide_content .sc_title .sc_item_button .sc_button{
	box-shadow: 0px 0px 25px 0px rgba(205, 153, 146, 0.35);
}
.slide_content .sc_title_light .sc_item_subtitle{
	font-size: 5.8823em;
}
.slide_content .sc_title_light .sc_item_title {
	font-size: 6em;
	line-height: 1em;
}
.body_style_boxed .slide_content .sc_title_light .sc_item_title {
	font-size: 5em;
	line-height: 1em;
}
.slide_content .sc_item_descr {
	max-width: none;
}

.home .slider_container .slider-slide .slide_content .sc_title,
.body_style_boxed .slider_container .slider-slide .slide_content .sc_title {
	top: 50%;
	left: 7.5%;
	transform: translate(0%, -50%);
}
.body_style_boxed .slider_container .slider-slide .slide_content .sc_title {
	max-width: 600px;
}
.home .slide_content .sc_title_light .sc_item_subtitle{	font-size: 13.5em;}
.home .slide_content .sc_title_light .sc_item_title { text-transform: uppercase;}
.body_style_boxed .slide_content .sc_title_light .sc_item_title { text-transform: uppercase;}
.home .slide_content .sc_title_light .sc_item_subtitle + .sc_item_title {margin-top: -135px;}

.sc_item_slider.slider_outer_pagination_pos_bottom {
	padding-bottom: 2.5em;
}


/* Pagination */
.sidebar .slider_pagination_pos_bottom > .swiper-pagination,
.sidebar .slider_outer_pagination_pos_bottom > .swiper-pagination {
	bottom: 0.5em;
}
.sidebar .slider_container .swiper-pagination-bullet,
.sidebar .slider_outer .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
}

.slider_container .swiper-pagination-bullet, 
.slider_outer .swiper-pagination-bullet {
	width: 7px;
	height: 7px;
}
.slider_container .swiper-pagination-bullet.swiper-pagination-bullet-active:before, 
.slider_outer .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
	width: 3px;
	height: 3px;
	content: '';
	display: block;
	margin: 2px 0 0 2px;
}
@media(max-width: 1263px) {
	.slider_container .swiper-pagination-bullet.swiper-pagination-bullet-active:before, 
	.slider_outer .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
		width: 2px;
		height: 2px;
		margin: 3px 0 0 3px;
	}
}






/* Controls */
.sidebar .slider_outer .slider_controls_wrap,
.sidebar .slider_container.slider_controls_side .slider_controls_wrap {
	display:none;
}

.slider_elastistack .slider_controls_wrap {
	z-index: 11!important;
}
.slider_elastistack.slider_container .slide_info:not(.slide_info_large) {
	bottom: 3em;
}
.slider_elastistack.slider_container.slider_controls_side .slider_controls_wrap > a{
	width: 4em;
	height: 4em;
	line-height: 4em;
	border-radius: unset;
}
.slider_elastistack.slider_container.slider_controls_side .slider_controls_wrap > a:before{
	transform: rotate(90deg);
	right: 0;
	display: block;
}
.slider_elastistack.slider_container.slider_controls_side:hover .slider_controls_wrap > a, 
.slider_elastistack.slider_outer_controls_side:hover + .slider_controls_wrap > a {
	margin: 0!important;
	border-radius: unset;
}
/* Icons in controls */
.sc_slider_controls .slider_controls_wrap > a:before,
.slider_container.slider_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_top .slider_controls_wrap > a:before,
.slider_outer_controls_bottom .slider_controls_wrap > a:before {
	font-family:'fontello';
	font-size: 1.6em;
	/*font-size: 30px;*/
	position: relative;
}
@media all and (-ms-high-contrast:none) { 	
 	*::-ms-backdrop, 
 	.sc_slider_controls .slider_controls_wrap > a:before,
	.slider_container.slider_controls_side .slider_controls_wrap > a:before,
	.slider_outer_controls_side .slider_controls_wrap > a:before,
	.slider_outer_controls_top .slider_controls_wrap > a:before,
	.slider_outer_controls_bottom .slider_controls_wrap > a:before {
		font-size: 30px;
	}
 }
.sc_slider_controls .slider_controls_wrap > .slider_prev:before,
.slider_container.slider_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_prev:before {
	content: '\e94f';
	left: 1.3em;
}
.sc_slider_controls .slider_controls_wrap > .slider_next:before,
.slider_container.slider_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_next:before {
	content: '\e94e';
	right: 1.3em;
}
.slider_elastistack_outer.slider_outer_controls > .slider_controls_wrap > .slider_next:before,
.slider_elastistack.slider_controls > .slider_controls_wrap  > .slider_next:before {
	content: '\e94e';
}
.slider_container.slider_controls_side .slider_controls_wrap > a, 
.slider_outer_controls_side + .slider_controls_wrap > a {
	border-radius: 100%;
}
.slider_container.slider_controls_side:hover .slider_controls_wrap > a, 
.slider_outer_controls_side:hover + .slider_controls_wrap > a {
	margin-right: -3.8em;
	margin-left: -3.8em;
}

.slider_container.slider_controls_side:hover .slider_controls_wrap > a, 
.slider_outer_controls_side:hover + .slider_controls_wrap > a {
	/*border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;*/
	/*border: 2px solid red;*/
	border-radius: 100%;

}



/* Slider in the widgets area */
.header_widgets_wrap .slider_container .slide_overlay.slide_overlay_large {
	background-color: transparent;
}
.header_widgets_wrap .slider_container.slider_titles_center:not(.slider_multi) .slide_info.slide_info_large {
	width: 18em;
}

.sidebar .slider_container.slider_multi .slide_info:not(.slide_info_large),
.sidebar .slider_container .slide_info:not(.slide_info_large) {
	bottom: 8px;
}
.sidebar .slider_container.slider_multi .slide_title,
.sidebar .slider_container .slide_info:not(.slide_info_large) .slide_title {
	font-size: 1em;
}
.sidebar .slider_container.slider_multi .slide_date,
.sidebar .slider_container .slide_info:not(.slide_info_large) .slide_date {
	font-size: 12px;
	line-height:16px;
}



/* Widgets
---------------------------------------------- */
.footer_wrap .sc_layouts_row {
	line-height: 1.7857em;
	font-size: 1em;
	font-weight: 300;
	letter-spacing: 0.9px;
}

.footer_wrap .sc_layouts_item {
	margin-top: 0;
	margin-bottom: 0;
}


/* Widget Categories list in columns or sidebar */
.widget_categories_list[class*="column-"] [class*="column-"],
.sidebar .widget_categories_list [class*="column-"] {
	width:100%;
	float:none;
	overflow:hidden;
}
.widget_categories_list[class*="column-"] [class*="column-"]+[class*="column-"],
.sidebar .widget_categories_list [class*="column-"]+[class*="column-"] {
	margin-top:0.5em;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_item,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_item {
	text-align:left;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image {
	display:inline-block;
	width: 20%;
}
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image {
	display:inline-block;
	width: 32px;
	vertical-align:middle;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image img,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image img {
	width: 100%;
	height: auto;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_title {
	display:inline-block;
	vertical-align:middle;
	width: 70%;
	margin: 0;
	font-size:1em;
	text-align:left;
	text-transform:none;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image + .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image + .categories_list_title {
	padding-left: 1em;
}

.widget_contacts .contacts_info .contacts_left > *{
	padding-left: 2em;
	padding-right: 0;
	text-align: left;
}
.widget_contacts .contacts_info .contacts_left > :before,
.widget_contacts .contacts_info span.contacts_phone:before, 
.widget_contacts .contacts_info a.contacts_phone:before,
.widget_contacts .contacts_info span.contacts_email:before {
	font-family: 'fontello';
	left: 0;
	right: auto;
	text-align: left;
	width: 1em;
}
.footer_wrap .widget_contacts .contacts_info .contacts_left > :before {	content: '\e848';}
.widget_contacts .contacts_info span.contacts_phone:before, 
.widget_contacts .contacts_info a.contacts_phone:before { content: '\e94a';}
.widget_contacts .contacts_info span.contacts_email:before { content: '\e83a';}

/* Recent News + Shortcode Recent News */
body.expand_content .sc_recent_news_style_news-announce .post_size_full { height: 656px; }
body.expand_content .sc_recent_news_style_news-announce .post_size_big { height: 328px;  }
body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
body.expand_content .sc_recent_news_style_news-announce .post_size_small { height: 164px;  }

.sidebar .sc_recent_news .post_item .post_title,
.footer .sc_recent_news .post_item .post_title {
	font-size: 1em;
}
.sidebar .sc_recent_news .post_item .post_content,
.footer .sc_recent_news .post_item .post_content {
	font-size: 0.8667em;
	line-height:1.3846em;
}

/* footer widget contacts*/
.footer_wrap .widget_contacts .contacts_info {
	text-align: center;
}
.footer_wrap .widget_contacts .contacts_info .contacts_right,
.footer_wrap .widget_contacts .contacts_info .contacts_left {
	padding: 0;
	width: auto;
}
@media(max-width: 480px){
	.footer_wrap .widget_contacts .contacts_info .contacts_right,
	.footer_wrap .widget_contacts .contacts_info .contacts_left {
		/*margin-left: -2em;*/
		font-size: 12px;
	}
}




/* Shortcodes
---------------------------------------------- */

h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag) {
	font-size: 3.5714rem;
	text-transform: uppercase;
}

h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag):before,
h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag):after,
h3.sc_item_title.sc_item_title_style_default.sc_item_title_tag:before,
h3.sc_item_title.sc_item_title_style_default.sc_item_title_tag:after {
	width: 4.2857rem;
	height: 1px;
	content: '';
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    margin-bottom: 0.25em;
    margin-right: 2.8571rem;
    margin-left: 2.8571rem;
}
.no-decor h3.sc_item_title.sc_item_title_style_default.sc_item_title_tag:before,
.no-decor h3.sc_item_title.sc_item_title_style_default.sc_item_title_tag:after {
	display: none;
}
.sc_item_subtitle + .sc_item_title {
	margin-top: 7px;
}
.sc_item_subtitle {
	font-size: 1.0588em;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.75px;
}
@media(max-width: 768px){
	h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag):before,
	h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag):after,
	h3.sc_item_title.sc_item_title_style_default:before,
	h3.sc_item_title.sc_item_title_style_default:after {
		display: block!important;
		margin: 0.5em auto!important;
	}
}



.sc_title_extra {
	position: relative;
}
.sc_title_extra .sc_title_inner_wrap {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translateY(-47.5%);
}
.sc_title_extra .sc_item_title {
	font-family: 'Over the Rainbow',cursive;
	font-size: 14.47em;
	z-index: 0;
	margin: 0!important;
	width: 100%;
}
.sc_title_extra .sc_item_subtitle {
	font-family: 'Playfair Display',serif;
	font-size: 1.058em;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 1px;
}
.sc_title_extra .sc_item_descr {
	font-family: 'Playfair Display',serif;
	font-weight: 400;
	font-size: 2.2352em;
	text-transform: uppercase;
	line-height: 1.275em;
	max-width: 960px;
}
.sc_title_extra .sc_item_subtitle + .sc_item_descr{
	margin-top: 0.65rem;
}
.sc_title_extra .sc_item_button {
	position: relative;
	z-index: 1;
	top: -0.675em;
}
.sc_title_extra .sc_item_button .sc_button{
	padding: 2.25em 6em 2.2em;
}

@media(max-width: 479px){
	.sc_title_extra .sc_item_descr {
		font-size: 1.5em;
		padding: 0 1em;
	}
	.sc_title_extra .sc_item_button .sc_button{
		padding: 15px 15px 14px;
	}
}





.sc_title_light {
	position: relative;
}
.sc_title_light .sc_item_subtitle {
	font-family: 'Over the Rainbow',cursive;
	font-size: 4.2352em;
	font-weight: 400;
}
.sc_title_light .sc_item_title {
	font-size: 4.7058em;
}
.sc_title_light .sc_item_descr{
	font-size: 1.4117em;
	font-weight: 100;
}
.sc_title_light .sc_item_subtitle + .sc_item_title {
	margin-top: -12px;
}
.body_style_boxed .widget_slider .sc_title_light .sc_item_subtitle + .sc_item_title {
	margin-top: -72px;
}
.sc_title_light .sc_item_title + .sc_item_descr{
	margin-top: 1.4em;
	letter-spacing: 1.15px;
}
.sc_title_light .sc_item_title + .sc_item_descr p:last-child{
	margin-bottom: 0;
}


/* Anchor in the side menu */
.menu_side_inner #toc_menu {
	display:block;
}
.menu_side_icons #toc_menu {
	position:relative;
	left:0;
	top:0;
	margin:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description {
	height: 6rem;
	line-height:6rem;
	font-size:1.0667em;
	font-weight:bold;
	text-transform:uppercase;
	top: 1px;
}
.menu_side_icons .toc_menu_item:hover .toc_menu_description {
	margin-right:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description span {
	display:inline-block;
	vertical-align:middle;
	padding: 0 3em;
	letter-spacing:1px;
}
.menu_side_icons .toc_menu_item .toc_menu_icon {
	width: 100%;
	height: 6rem;
	line-height: 6rem;
	border-top: 1px solid #ddd;
	-webkit-box-sizing: content-box;
	    -ms-box-sizing: content-box;
	        box-sizing: content-box;
}
.menu_side_icons .toc_menu_item .toc_menu_icon:before {
	font-size:2rem;
	font-weight:normal;
	line-height:inherit;
}

.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon {
	text-align:center;
}
.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon:before {
	content: ' ';
	width: 5px;
	height: 5px;
	line-height:inherit;
	-webkit-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;
}
.menu_side_dots #toc_menu .toc_menu_item_active .toc_menu_icon:before {
	width: 9px;
	height: 9px;
}

.menu_style_left .toc_menu_item .toc_menu_description {
	left: -20em;
	right: auto;
}
.menu_style_left .toc_menu_item:hover .toc_menu_description {
	left: 100%;
	right: auto;
}


/* Events */
.sc_events_item_button:before,
.sc_events_item_button:after {
	content:'\e93a';
	font-family:'fontello';
}


/* Form */
.sc_form .sc_form_info_item .sc_form_info_icon:before { font-family: 'fontello'; }
.sc_form .sc_form_info_item_address .sc_form_info_icon:before { content: '\e8fd'; }
.sc_form .sc_form_info_item_email .sc_form_info_icon:before { content: '\e8fa'; }
.sc_form .sc_form_info_item_phone .sc_form_info_icon:before { content: '\e8f5'; }

.sc_form .trx_addons_columns_wrap { margin-right: -11px; white-space: nowrap; letter-spacing: -10px;}
.sc_form .trx_addons_columns_wrap > [class*="trx_addons_column-"] {	padding-right: 11px; letter-spacing: 0;}
.sc_form_default .sc_form_field_button {
	text-align: center;
}

/* Icons */
.footer_wrap .sc_icons .sc_icons_icon + .sc_icons_item_title {
	margin-top:1em;
	margin-bottom:2em;
}


/* Testimonials */
.sc_testimonials_item_content:before {
	content:'\e8b6';
	font-family:'fontello';
}

/* Table */
.sc_table table th, 
.sc_table table td {
	padding: 1.52em 1.5em;
}
.sc_table table tr th, 
.sc_table table tr td,
.sc_table table tr:first-child th, 
.sc_table table tr:first-child td {
	font-weight: 300;
	font-size: 1.1428rem;
	text-align: center;
}
.sc_table table tr:first-child th, 
.sc_table table tr:first-child td,
table tr:first-child th, 
table tr:first-child td {
	border-top: 1px solid;
}
table:not(.booked-calendar):not(.tribe-events-calendar):not(.variations) > tbody > tr:nth-child(2n+1) td:first-child {
	border-left: 1px solid #ccc;
}
.sc_table table tr:first-child th:first-child, 
.sc_table table tr:first-child td:first-child,
table tr:first-child th:first-child, 
table tr:first-child td:first-child {
	border-left: 1px solid;
}
.sc_table table tr:first-child th:last-child, 
.sc_table table tr:first-child td:last-child,
table tr:first-child th:last-child, 
table tr:first-child td:last-child {
	border-right: 1px solid;
}
.sc_table table tr th:last-child,
.sc_table table tr td:last-child,
table tr th:last-child,
table tr td:last-child {
	border-right: 1px solid;
}
table tr th:first-child {
	border-left: 1px solid;
	border-top: 1px solid;
}

/* Dropcaps */
.trx_addons_dropcap {
	border-radius: 0;
	font-size: 5.7142rem;
	font-family: 'Playfair Display';
	width: 1em;
	height: 1em;
	line-height: 0.9em;
	margin-right: 0.2em;
	margin-top: 0.175em;
}


/* Dishes */
.sc_dishes_default .sc_dishes_item_featured_left .sc_dishes_item_image, 
.sc_dishes_default .sc_dishes_item_featured_right .sc_dishes_item_image {
	position: static;
	width: 17%;
	display: inline-block;
	vertical-align: middle;
}
.sc_dishes_default .post_featured.hover_border .post_info .post_info_back .post_title{
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
	text-transform: none;
	font-family: Rubik;
}
.sc_dishes_default .sc_dishes_item_featured_left.with_image .sc_dishes_item_info {
	margin-left: 0;
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 4%;
	width: 74%;
}
.sc_dishes_default .sc_dishes_item_content {
	margin: 0;
}
.sc_dishes_default .sc_dishes_item_header {
	overflow: hidden;
}
.sc_dishes_default .sc_dishes_item_header .sc_dishes_item_title{
	font-weight: 400;
}
.sc_dishes_default .sc_dishes_item_header .sc_dishes_item_price{
	float: right;
	margin: 0;
}
.sc_dishes_default .post_featured.hover_border:hover .mask {
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
}
.sc_dishes_default .post_featured.hover_border .mask { opacity: 0; }
.sc_dishes_default .post_featured.hover_border .post_info .post_info_back .post_title {
	display: none;

}
.sc_dishes_default .post_featured.hover_border .post_info .post_info_back .post_title a {
	/*display: inline-block;
    font-family: Rubik, sans-serif;
    position: relative;*/
}
/*.sc_dishes_default .post_featured.hover_border .post_info .post_info_back .post_title a:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 0;
    width: 0;
    height: 0.315em;
    margin-left: -.25em;
    -webkit-transition: width 0.3s,background 0.3s;
    transition: width 0.3s,background 0.3s;
    height: 1px;
    top: 100%;
    background: white;
}
.sc_dishes_default .post_featured.hover_border .post_info .post_info_back .post_title a:hover:before{
	width: calc(100% + .5em);
    top: 100%;
}*/
.dishes_single {
	overflow: hidden; 
}
.dishes_single .dishes_page_content  {
	float: left;
	width: 55%;
	padding-right: 5%;
}
.dishes_single .dishes_page_content  h2 {
	margin-top: 0;
}
.dishes_single .dishes_page_header {
	float: right;
	width: 40%;
}
.dishes_page_buttons { clear: both;}




/*price*/
.sc_price_item.with_image {
	box-shadow:  0px 0px 25px 0px rgba(205, 153, 146, 0.35);
	padding: 0 2.2em;
}
@media(max-width: 1437px){
	.sc_price_item.with_image .sc_price_item_info{
		padding-left: 0;
		padding-right: 0;
	}
}
.sc_price_item.with_image .sc_price_item_inner {
	padding: 0.8em 0 2.45em;
}
.sc_price_item.with_image .sc_price_item_mask{
	display: none;
}
.sc_price_item.with_image .sc_price_item_inner .sc_price_item_title_{
	margin-bottom: 0;
	margin-top: -0.2em;
	padding: 0 0.15em;
}
.sc_price_item .sc_price_item_description, 
.sc_price_item .sc_price_item_details {
	margin: 0.25em 0 1em;
	font-style: normal;
	font-size: 0.9411em;
}
.sc_price_item.with_image .sc_price_item_inner .sc_price_item_price {
	font-size: 2.9411em;
}
.sc_price_item.with_image .sc_price_item_inner .sc_price_item_price_decimals {
	font-size: inherit;
	margin: 0;
	line-height: normal;
	vertical-align: inherit;
}
.sc_price_item .sc_price_item_details {
	margin-top: 1.25em;
	margin-bottom: 0.25em;
}

.sc_price_item .sc_price_item_details ul{
	padding: 0 1.25em;
	list-style: none;
	line-height: 2.5em;
}
.sc_price_item .sc_price_item_details ul li:not(:last-child) {
	border-bottom: 1px solid;
}
.sc_price_item .sc_price_item_details + .sc_button {
	padding-left: 0;
	padding-right: 0;
	display: block;
	text-align: center;
}

/*promo*/
.sc_promo { z-index: 6;}
.sc_promo.sc_promo_no_paddings.sc_promo_image_position_right .sc_promo_text_inner,
.sc_promo.sc_promo_default .sc_promo_text_inner {
	padding: 4em 6em;
}
.sc_promo.sc_promo_size_normal .sc_item_title{
	margin-bottom: 1rem;
}
.sc_promo.sc_promo_size_normal .sc_item_title:before,
.sc_promo.sc_promo_size_normal .sc_item_title:after{ display: none!important; }

.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_descr {
	margin-top: 1.25em;
	margin-bottom: 0.6em;
}
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_content {
	margin-top: 0;
}
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_descr p:last-child{
	margin-bottom: 0;
}
.sc_promo.sc_promo_size_normal .sc_form_field_button {
	text-align: center;
}
@media(max-width: 640px){
	.sc_promo.sc_promo_no_paddings.sc_promo_image_position_right .sc_promo_text_inner,
	.sc_promo.sc_promo_default .sc_promo_text_inner {
		padding: 4em 1.5em;
	}
}


/* Socials */
.sc_socials.sc_socials_names {
	font-family: 'Rubik';
	font-weight: 700;
	font-size: 2.1428rem;
}
.sc_socials.sc_socials_names .social_item{
	margin: 0 2.5em;
}
@media(max-width: 1024px){
	.sc_socials.sc_socials_names .social_item {
		margin: 0 2em;
	}
}


.socials_wrap .social_item .social_icon, .socials_wrap .social_item .social_name {
	transition: none;
}

/* Skills */
.sc_skills.sc_skills_counter {
	max-width: 768px;
	margin: 0 auto;
}
.sc_skills.sc_skills_counter .sc_skills_total {
	font-size: 3rem;
	margin: -0.05em 0 0 0;
}
.sc_skills.sc_skills_counter .sc_skills_item_title {
	font-style: normal;
	margin-top: 0.8em;
}


/* Services */
.sc_services_default .sc_services_item {
	max-width: 490px;
	margin-left: 2em;
	height: 96%;
}
.sc_services_default .sc_services_slider .slider-slide.swiper-slide-next .sc_services_item {
	float: right;
}
.sc_services_default .sc_services_item .post_featured {
	left: -2em;
	top: -2em;
}
.sc_services_default .sc_services_slider .slider_container {
	padding: 2em 0 0 2em;
	padding: 2em 0 0 0;
}

.sc_content.sc_padding_tiny {
	padding-left: 2.5%;
	padding-right: 2.5%;
}
.sc_services_default .sc_services_item_header {
	position: relative;
	overflow: hidden;
	margin-top: -1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 0;
}
.sc_services_default .sc_services_item_info {
	padding: 0 2em;
}
.sc_services_default .sc_services_item_header .sc_services_item_title{
	font-weight: 700;
	font-size: 20px;
	text-align: left;
	padding-right: 10px;
}
.sc_services_default .sc_services_item_button {
	margin: 0;
}
@media(max-width: 960px){
	.sc_services_default .sc_services_item {
		max-width: 420px;
	}
}
@media(max-width: 767px){
	.sc_services_default {
		max-width: 560px;
		margin: 0 auto;
	}
}
@media(max-width: 639px){
	.sc_services_default .sc_services_item{
		margin-left: 0;
		max-width: 400px;
	}
	.sc_services_default .sc_services_item .post_featured {
		left: 0;
	}	
}
@media(max-width: 479px){
	.sc_services_default .sc_services_item_header {
		display: block;
	}
	.sc_services_default .sc_services_item_header .sc_services_item_title{
		margin-bottom: 0.8em;
		text-align: center;
	}
}
/* !!! */
.sc_services.sc_services_default > .sc_services_columns_wrap {
	/*margin-right: -60px;*/
}
.sc_services.sc_services_default > .sc_services_columns_wrap > [class*="trx_addons_column-"]{
	margin-bottom: 30px;
	padding-right: 60px;
}
.sc_services.sc_services_default > .sc_services_columns_wrap .sc_services_item {
	height: 100%;
	padding-bottom: 1em;
	max-width: none;
}
.sc_services.sc_services_default > .sc_services_columns_wrap .sc_services_item .sc_services_item_header + .sc_services_item_content{
	margin-top: 0;
}
.sc_services.sc_services_default > .sc_services_columns_wrap .sc_services_item .sc_services_item_header + .sc_services_item_content p:first-child{
	padding-top: 1em;
}
@media(max-width: 1023px){
	.sc_services.sc_services_default > .sc_services_columns_wrap {
		margin-right: -33px;
	}
}
@media(max-width: 639px){
	.sc_services.sc_services_default > .sc_services_columns_wrap {
		margin-right: 0;
	}
	.sc_services.sc_services_default > .sc_services_columns_wrap > [class*="trx_addons_column-"]{
		width: 100%;
		padding-right: 0;
	}
	/*.sc_services.sc_services_default > .sc_services_columns_wrap .sc_services_item {
		max-width: none;
	}*/
}




.sc_services_chess .sc_item_columns_1 { position: relative; }
.sc_services_chess .sc_item_columns_1 .sc_services_item:not(:last-child) {
	width: 66.6666%;
}
.sc_services_chess .sc_item_columns_1 .sc_services_item:last-child {
	position: absolute;
	top: 0;
	width: 33.34%;
	height: 100%;
}
.sc_services_chess .sc_services_item {
	text-align: center;
}
.sc_services_chess .sc_services_item .post_featured .mask{
	top: 30px;
	left: 30px;
	bottom: 30px;
	right: 30px;
}
.sc_services_chess .sc_services_item .post_info_back h4.post_title{
	font-size: 1rem;
	font-family: rubik;
	text-transform: none;
}
.sc_services_chess .sc_services_item .post_info_back h4.post_title a {
	position: relative;
	display: inline-block;
}
.sc_services_chess .sc_services_item .post_info_back h4.post_title a:before{
	content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 0;
    width: 0;
    height: 0.315em;
    margin-left: -.25em;
    -webkit-transition: width 0.3s,background 0.3s;
    transition: width 0.3s,background 0.3s;
    background: rgba(242,173,130,0.75);
    height: 1px;
    top: 100%;
    background: white;
}
.sc_services_chess .sc_services_item .post_info_back h4.post_title a:hover:before{
    width: calc(100% + .5em);
    top: 100%;
}
.sc_services_chess .sc_services_item_subtitle {
	text-transform: uppercase;
	font-family: rubik;
	font-weight: 500;
	font-size: 10px;
	letter-spacing: 2px;
}
.sc_services_chess .sc_services_item_subtitle + .sc_services_item_title + .sc_services_item_button {
	margin-top: 2.5em;
}
@media (max-width: 768px){
	.sc_services_chess .sc_item_columns_1 .sc_services_item:not(:last-child) {
		width: 100%;
	}
	.sc_services_chess .sc_item_columns_1 .sc_services_item:last-child {
		position: relative;
		width: 100%;
	}	
}
@media (min-width: 768px){
	.sc_services_chess .sc_item_columns_1 .sc_services_item:last-child {
		right: 0;
	}	
	.sc_services_chess .sc_item_columns_1 .sc_services_item:last-child .sc_services_item_header,
	.sc_services_chess .sc_item_columns_1 .sc_services_item:last-child .sc_services_item_content{
		float: none;
		width: 100%;
		/*position: static;*/
		/*transform: none;*/
	}
	.sc_services_chess .sc_item_columns_1 .sc_services_item:last-child {
		padding-top: 33.8%;
	}
	.sc_services_chess .sc_item_columns_1 .sc_services_item:last-child .post_featured{
		position: absolute;
		top: 0;
		left: 0;
	}
}

.sc_services_light .sc_services_item_featured_top .sc_services_item_info {
	padding: 1.35em 1.7em;
}
.sc_services_light .sc_services_item .sc_services_item_title.with_price{
	font-family: Playfair Display;
	font-weight: 700;
}
.sc_services_light .sc_services_item .sc_services_item_title.with_price .sc_services_item_price{
	font-weight: 400;
	font-size: 1.5833em;
	top: -2px;
}

.sc_item_title + .sc_item_slider, .sc_item_subtitle + .sc_item_slider, .sc_item_title + .sc_item_columns, .sc_item_subtitle + .sc_item_columns, .sc_item_title + .sc_item_content, .sc_item_subtitle + .sc_item_content {
	margin-top: 3.65em;
}
.sc_services_light .sc_item_title + .sc_item_slider, 
.sc_services_light .sc_item_subtitle + .sc_item_slider, 
.sc_services_light .sc_item_title + .sc_item_columns, 
.sc_services_light .sc_item_subtitle + .sc_item_columns, 
.sc_services_light .sc_item_title + .sc_item_content, 
.sc_services_light .sc_item_subtitle + .sc_item_content {
	margin-top: 3.15em;
}

.sc_services_list .mask,
.sc_services_list .mask + .post_info{ display: none; }
.sc_services_list .sc_services_item_featured_left .sc_services_item_thumb, 
.sc_services_list .sc_services_item_featured_right .sc_services_item_thumb { width: 17%;}
/*.sc_services_list .sc_services_item_featured_left .sc_services_item_thumb img,
.sc_services_list .sc_services_item_featured_right .sc_services_item_thumb img{ width: 100%;}*/
.sc_services_list .sc_services_item_featured_left.with_image .sc_services_item_info { margin-left: 17%; padding-left: 30px;}
.sc_services_list .sc_services_item_featured_right.with_image .sc_services_item_info { margin-right: 17%; padding-right: 30px;}
.sc_services_list .sc_services_item_featured_left .sc_services_item_title, 
.sc_services_list .sc_services_item_featured_right .sc_services_item_title {
	font-size: 1.7142rem;
	letter-spacing: -0.075px;
}
@media(max-width: 960px) {
.sc_services_list .sc_services_item_featured_left .sc_services_item_thumb, 
.sc_services_list .sc_services_item_featured_right .sc_services_item_thumb { width: 30%;}
.sc_services_list .sc_services_item_featured_left.with_image .sc_services_item_info { padding-left: 15px; margin-left: 30%;}
.sc_services_list .sc_services_item_featured_right.with_image .sc_services_item_info {  padding-right: 15px; margin-left: 30%;}
}
@media(max-width: 640px) {
.sc_services_list .sc_services_item_featured_left .sc_services_item_thumb, 
.sc_services_list .sc_services_item_featured_right .sc_services_item_thumb { width: 100%; position: static; margin-bottom: 1em;}
.sc_services_list .sc_services_item_featured_left.with_image .sc_services_item_info { padding-left: 0px; margin-left: 0%; width: 100%;}
.sc_services_list .sc_services_item_featured_right.with_image .sc_services_item_info {  padding-right: 0px; margin-left: 0%; width: 100%;}
}
@media(max-width: 480px) {
.sc_services_list .trx_addons_column-1_2 { width: 50%!important; padding-top: 0!important;}
}

.single-cpt_services .page_content_wrap .services_single .services_page_header{
	text-align: center;
}





/* Action */
.sc_action_item.with_image .sc_action_item_inner { 
	max-width: 1170px; 
	margin: 0 auto;
	padding: 7em 2em 6.75em; 
}
@media(max-width: 1167px){
	.sc_action_item.with_image .sc_action_item_inner {
		padding: 5.5em 2em 5em; 
	}
}

.sc_action_item.with_image .sc_action_item_mask {
	opacity: 1;
}
.sc_action_item.with_image .sc_action_item_mask:before {
	display: none;
}
.sc_action_item {
	/*background-size: 100%!important;*/
	/*-webkit-transition: all ease 2s;
	    -ms-transition: all ease 2s;
	        transition: all ease 2s;*/
}
.sc_action_item:hover {
	/*background-size: 120%!important;*/
}
.sc_action_item_title {
	font-size: 4.7058em;
	line-height: 1.13em;
	letter-spacing: 0;
}
.sc_action_item_description {
	font-style: normal;
	font-size: 1.4117em;
}
.sc_action_item.with_image .sc_action_item_subtitle {
	font-family: Over the Rainbow;
	font-size: 4.2352em;
}
.sc_action_item_title + .sc_action_item_description {
	margin-top: 1.5em;
}
.sc_action_item_title + .sc_action_item_description + .sc_button{
	margin-top: 4.25em;
}
.sc_action_item.with_image .sc_action_item_subtitle + .sc_action_item_title{
	margin-top: -10px;
}
.sc_action_item.with_image .sc_action_item_subtitle + .sc_action_item_title + .sc_button{
	margin-top: 4.25em;
}
.sc_action_item_default.with_image:after,
.sc_action_item_simple.with_image:after {
	display: none;
}



/* Testimonials */
.sc_testimonials_item_content:before {
	display: none;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_content,
.sc_testimonials [class*="column"] .sc_testimonials_item_author{
	text-align: center;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_content {
	max-width: 768px;
	margin: 0 auto;
	padding: 4.4em 4em 0;
	font-family: 'Playfair Display';
	font-weight: 400;
	font-size: 1em;
	line-height: 2em;
}
.sc_testimonials_item_content p:before {
	content: '\e8b6';
    font-family: 'fontello';
    font-size: 1.25em;
    display: inline-block;
    transform: rotate(180deg);
    position: relative;
    top: -7px;
    margin-right: 5px;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_author{
	padding: 0;	
	margin-top: 0.5em;
	letter-spacing: 1px;
}
.sc_testimonials_item_author_title {
	font-family: Rubik;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;	
}
.sc_testimonials_simple [class*="column"] .sc_testimonials_item_author_data {
	border: none;
	padding: 0;
}
.sc_testimonials .slider_pagination_wrap .slider-pagination-button { 
	font-size: 1.4em; 
	border-radius: 100%;
	vertical-align: middle;
	border: none;
	position: relative;
	margin: 0 15px;
}
.sc_testimonials .slider_pagination_wrap .slider-pagination-button.swiper-pagination-button-active { font-size: 1.7em }
.sc_testimonials .slider_pagination_wrap .slider-pagination-button.swiper-pagination-button-active:before { 
	content: '”';
	font-family: Playfair Display,serif;
	font-size: 36px;
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	bottom: -30px;
	left: 50%;
	position: absolute;	
	transform: translateX(-50%);
}





.slider_outer.slider_outer_pagination_pos_bottom.slider_outer_pagination_custom, 
.slider_outer.slider_outer_pagination_pos_bottom_outside.slider_outer_pagination_custom {
	padding-bottom: 4.4em;
}
.slider_container.slider_pagination_pos_bottom .swiper-pagination-custom, 
.slider_outer.slider_outer_pagination_pos_bottom .swiper-pagination-custom, 
.slider_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-custom {
	height: 2.5em;
	line-height: 2.5em;
}

.sc_testimonials .slider_container {
	position: static;
}


/* Blogger default*/
.sc_blogger_default .sc_blogger_item {
	padding: 10px;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_item_header .post_meta{
	font-size: 10px;
	font-family: rubik;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 3.3em;
}
.sc_blogger_default .sc_blogger_item_content {
	padding: 0 30px 15px;
}
.sc_blogger_default .sc_blogger_item_excerpt {
	margin-top: 2.05em;
	padding-top: 1.125em;
	font-size: 14px;
	border-top: 1px solid;
}
.sc_blogger_default .sc_blogger_item_excerpt .post_meta{ 
	font-size: 14px;
	display: flex;
    justify-content: space-between;
    text-align: left;
}
.sc_blogger_default .sc_item_button {
	margin-top: 1em;
	margin-top: 0.7em;
}




/*teams*/
.sc_team_columns_wrap .sc_team_item {
	background: #ccc;
	max-width: 300px;
	padding-bottom: 1em;
	margin-left: 2.3em;
}
.sc_team_short {
	text-align: center;
	padding-right: 30px;
}

.sc_team_short .sc_team_item .post_featured .trx_addons_hover_content{
	top: 0;
	transform: none;
}
.sc_team_short .sc_team_item_thumb {
	left: -13%;
	top: -20.5%;
	margin: 0 0 -2.5em;
	border: none;
}
.sc_team_short .trx_addons_columns_wrap > [class*="trx_addons_column-"] { margin: 0 auto 100px auto;}
.body_style_boxed .sc_team_short .trx_addons_columns_wrap > [class*="trx_addons_column-"] { margin: 0 auto 70px auto;}
@media(max-width: 1679px){
	.sc_team_short .trx_addons_columns_wrap > [class*="trx_addons_column-"] { margin: 0 auto 70px auto;}
	.sc_team_short .sc_team_item_thumb {
		margin: 0 0 -2.2em;
	}
}
@media(max-width: 1167px){	
	.sc_team_short .trx_addons_columns_wrap > [class*="trx_addons_column-"] {
		margin-bottom: 2.4em;
	}
}


@media(max-width: 1679px){
	.sc_team.sc_team_short .sc_team_item_thumb {
		left: -7%;
		top: -14%;
	}
	.body_style_boxed .sc_team_short .sc_team_item_thumb {
		top: -16%;
	}

}
@media(max-width: 1439px){
	.sc_team.sc_team_short .sc_team_item_thumb { top: -40px;}
	.body_style_boxed .sc_team_short .sc_team_item_thumb { top: -20%;}
}
@media(max-width: 992px){
	.sc_team_columns_wrap .sc_team_item { margin-left: 6%;}
	.sc_team.sc_team_short .sc_team_item_thumb { left: -6%;}
	.body_style_boxed .sc_team.sc_team_short .sc_team_item_thumb { top: -20%;}
	.sc_team.sc_team_short { padding-right: 16px;}
}
@media(max-width: 860px){
	.body_style_boxed .sc_team.sc_team_short .sc_team_item_thumb { top: -18%;}
}
@media(max-width:768px){
	/*.sc_team.sc_team_short .trx_addons_columns_wrap > [class*="trx_addons_column-"] { margin-bottom: 4.25em;}*/
	.sc_team.sc_team_short .trx_addons_columns_wrap > [class*="trx_addons_column-"] { margin-bottom: 3em;}
	.body_style_boxed .sc_team.sc_team_short .sc_team_item_thumb { 	top: -13%;}
}	
@media(max-width:639px){
	.sc_team.sc_team_short { padding-right: 11px;}
	.sc_team.sc_team_short .sc_team_item_thumb { top: -21%;}	
}
@media(max-width:479px){
	.sc_team.sc_team_short { padding-right: 16px;}
	.sc_team.sc_team_short .sc_team_item_thumb { top: -13%;}	
}

.sc_team_short .sc_team_item_info {
	text-align: center;
}
.sc_team_short .sc_team_item_title {
	font-size: 1.2941em;
}
.sc_team_short .trx_addons_hover_content{
	height: 100%;
}
.sc_team_short .trx_addons_hover_content .trx_addons_hover_info {
	transform: none;
	text-align: left;
	margin: 0 0 0 1.2em;
	padding-top: 8px;
}
.sc_team_short .trx_addons_hover_content .trx_addons_hover_info a.social_item {
	display: block;
	text-align: left;
	font-size: 0.8235em;
	font-weight: 400;
	line-height: 2.3em;
	margin: 0;
}
.sc_team_short .trx_addons_hover_content .trx_addons_hover_info a.social_item span {
	position: relative;
}
.sc_team_short .trx_addons_hover_content .trx_addons_hover_info a.social_item span:before {
	content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 0;
    width: 0;
    height: 0.315em;
    margin-left: -.25em;
    -webkit-transition: width 0.3s,background 0.3s;
    transition: width 0.3s,background 0.3s;
    background: rgba(242,173,130,0.75);
    height: 1px;
    top: 100%;
    background: white;
}
.sc_team_short .trx_addons_hover_content .trx_addons_hover_info a.social_item:hover span:before {
	width: calc(100% + .5em);
    top: 100%;
}
.sc_team_short .trx_addons_hover_content .sc_button:not(.social_icon) {
	position: absolute;
	bottom: 40px;
	left: 40px;
	opacity: 0;
}

@media(max-width: 1280px){
	.sc_team_short .trx_addons_hover_content .sc_button:not(.social_icon) {
		padding: 0.8em 1.6em;
		bottom: 35px;
		left: 35px;
	}	
}
.sc_team_short .trx_addons_hover_content:hover .sc_button {
	opacity: 1;
}

.sc_team_light .sc_team_item {
	padding-bottom: 0;
	margin: 0;
	max-width: 370px;
	max-width: none;
}
.sc_team_light .post_featured {
	margin-bottom: 0;
}
.sc_team_light .post_featured .sc_team_item_title {
	position: absolute;
	bottom: 30px;
	right: -100%;
	opacity: 0;
	margin: 0;
	z-index: 11;
	-webkit-transition: all ease 0.5s;
	    -ms-transition: all ease 0.5s;
	        transition: all ease 0.5s;
}
.sc_team_light .post_featured:hover .sc_team_item_title { opacity: 1; right: 30px;}
.sc_team_light.sc_team .sc_team_item_thumb .sc_team_item_socials .social_item { 
	display: block;
	text-align: left;
	font-size: 14px;
	line-height: normal;
}
.sc_team_light.sc_team .sc_team_item_thumb .sc_team_item_socials .social_item span { position: relative; transition: 0s;}
.sc_team_light.sc_team .sc_team_item_thumb .sc_team_item_socials .social_item span:before{ 
    content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 0;
    width: 0;
    height: 0.315em;
    margin-left: -.25em;
    -webkit-transition: width 0.3s,background 0.3s;
    transition: width 0.3s,background 0.3s;
    background: rgba(242,173,130,0.75);
    height: 1px;
    top: 100%;
    background: white;
}
.sc_team_light.sc_team .sc_team_item_thumb .sc_team_item_socials .social_item:hover span:before {
	width: calc(100% + .5em);
    top: 100%;
}
.sc_team_light .post_featured .trx_addons_hover_content {
	top: 0;
	transform: none;
}
.sc_team_light .post_featured .trx_addons_hover_content .sc_team_item_socials {
	margin: 0;
	padding: 0;
}

.team_member_page .team_member_socials .social_item {
	transition: 0s;
}





/* Login - register popup*/
.trx_addons_popup.ui-tabs {
	width: 360px;
	padding-top: 20px;
}
.trx_addons_popup .trx_addons_tabs_titles {
	margin: 0;
	text-align: center;
}
.trx_addons_popup .trx_addons_tabs_titles li.trx_addons_tabs_title {
	width: auto;
	text-transform: none;
	line-height: 5em;
	border: none;
	background-color: transparent!important;
}
.trx_addons_popup .trx_addons_tabs_titles li.trx_addons_tabs_title:after {display: none;}
.trx_addons_popup .trx_addons_tabs_titles li.trx_addons_tabs_title:last-child:before {
	content: '/';
	margin-right: 10px;
	margin-left: 10px;
	display: inline;
	font-size: 1em;
}
.trx_addons_popup .trx_addons_tabs_titles li.trx_addons_tabs_title > a {
	font-size: 20px;
	display: inline;
}
.trx_addons_popup .trx_addons_tabs_titles li.trx_addons_tabs_title > a > i {display: none;}
.trx_addons_popup button.mfp-close {
	/*right: auto;
	left: 100%;*/
	width: 50px;
}
.trx_addons_popup .trx_addons_tabs_titles + .trx_addons_tabs_content, 
.trx_addons_popup .trx_addons_tabs_titles + .trx_addons_tabs_content + .trx_addons_tabs_content {
	padding: 0 2.5em 2.35em;
}
.trx_addons_popup .trx_addons_popup_form_field input {
	padding: 1em!important;
	font-size: 14px!important;
	font-weight: 300;
}
.trx_addons_popup .trx_addons_popup_form_field input + .sc_form_field_hover{
	padding: 0.5em!important;
}
.trx_addons_popup .trx_addons_popup_form_field input + .sc_form_field_hover .sc_form_field_content {
	font-size: 14px!important;
}
.trx_addons_popup .trx_addons_popup_form_field.trx_addons_popup_form_field_agree,
.trx_addons_popup .trx_addons_popup_form_field .sc_form_field {
	margin-bottom: 11px;
}
.trx_addons_popup .trx_addons_popup_form_field.trx_addons_popup_form_field_submit {
	text-align: center;
	padding-top: 1.7em;
}
.trx_addons_popup .trx_addons_popup_form_field.trx_addons_popup_form_field_submit input[type='submit']{
	font-size: 10px!important;
	padding: 0.8em 3.8em!important;
}
.trx_addons_popup .trx_addons_popup_form_field.trx_addons_popup_form_field_remember {
	overflow: hidden;
	padding-top: 0.6em;
}
.trx_addons_popup .trx_addons_popup_form_field.trx_addons_popup_form_field_remember label{
	float: right;
}

.trx_addons_left_side, .trx_addons_right_side {
	float: none;
	width: auto;
	padding: 0;
}

.mptt-shortcode-wrapper.mptt-table-responsive table.mptt-shortcode-table>tbody>tr:nth-child(2n+1)>td.mptt-shortcode-hours,
.mptt-shortcode-wrapper.mptt-table-responsive table.mptt-shortcode-table>tbody>tr:nth-child(2n)>td.mptt-shortcode-hours {
	font-size: 18px;
	font-weight: 400;
}
div.wpcf7 .ajax-loader {
	display: none!important;
}
@media(max-width: 1439px){
	.sc_blogger_default .sc_blogger_item_excerpt {
		display: none;
	}
}
@media(max-width: 1262px){
	.sc_content.sc_padding_tiny {
		padding-left: 3.5%;
		padding-right: 3.5%;
	}
}	
@media(max-width: 959px){
	.sc_content.sc_padding_tiny {
		padding-left: 0;
		padding-right: 0;
		width: 440px!important;
	}	
	.sc_services_default .sc_services_item_header .sc_services_item_button a {
		width: 100%;
	}
}
@media(max-width: 768px){
	.sc_team_short .sc_team_item_thumb {
		left: -5%
	}
	.sc_promo.sc_promo_no_paddings.sc_promo_image_position_right .sc_promo_text_inner, 
	.sc_promo.sc_promo_default .sc_promo_text_inner {
		padding: 2em 3em;
	}
}
@media(max-width: 639px){
	.sc_content.sc_padding_tiny .sc_services {
		width: 400px;
		margin: 0;
	}
	.body_style_boxed .sc_content.sc_padding_tiny .sc_services {
		margin: 0 auto;
	}
}
@media(max-width: 479px){
	.sc_content.sc_padding_tiny .sc_services {
		width: auto;
		margin: 0
	}
}


@media(max-width:767px){
	.sc_services_light .sc_item_columns_3 .trx_addons_column-1_3:last-child,
	.sc_blogger_default .trx_addons_column-1_3:last-child{
		width: 100%;
	}
	.sc_services_light .sc_item_columns_3 .trx_addons_column-1_3:last-child img {
		width: 100%;
	}
	.sc_team_light  .trx_addons_column-1_3 {
		margin: 0 auto;
	}
}
@media(max-width: 479px){
	.sc_content.sc_padding_tiny {
		padding-left: 0;
		padding-right: 0;
		width: 270px!important;
	}
}


.wpb_column.sc_shift_y_small_negative, 
.sc_content.sc_shift_y_small_negative {
	top: -3em;
	z-index: 1;
}
@media(max-width: 640px){
	.wpb_column.sc_shift_y_small_negative, 
	.sc_content.sc_shift_y_small_negative {
		top: 0;
	}
}




.sc_skills_pie.sc_skills_compact_off .sc_skills_total {
	top: 46%;
}