/* Tribe Events Calendar styles
----------------------------------------------------------------- */

.events-archive .entry-content, .events-archive .entry-header {
	width:100%;
}
#tribe-events-bar {
	margin: 6px 0 1.5em;
}
#tribe-bar-form.tribe-bar-mini *,
#tribe-bar-form.tribe-bar-mini label {
	font-size:11px;
}
#tribe-bar-form {
	background:none;
}
#tribe-bar-form input {
	border-bottom-width: 1px !important;
}

/* Views */
#tribe-bar-form #tribe-bar-views,
#tribe-bar-form.tribe-bar-mini #tribe-bar-views {
	left: 84%;
	width: 15.45%;
	padding:0;
	top: 1.45em;	
}
#tribe-bar-form #tribe-bar-views ul li a,
#tribe-bar-form.tribe-bar-mini #tribe-bar-views ul li a{
	letter-spacing: 2px;
	text-align: center;
}
.tribe-bar-views-inner {
	padding: 0;
	background: none;
}
.tribe-bar-mini .tribe-bar-views-inner {
	padding: 0;
}
#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner {
	padding: 0;
}
#tribe-bar-views .select_container {
	display:none;
}
#tribe-bar-views .tribe-bar-views-list {
	padding: 0;
	border: none;
}
#tribe-bar-form.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list {
	padding: 0;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views .tribe-bar-views-list {
	padding: 1em 0;
}
.tribe-bar-views-list span[class^="tribe-icon-"] {
	display:inline-block;
}

/* Filters */
#tribe-bar-form #tribe-bar-views + .tribe-bar-filters {
	width: 85.5%;
	left: 0%;
	right: auto;
}
.tribe-bar-date-filter, .tribe-bar-search-filter, .tribe-bar-submit,
.tribe-bar-mini .tribe-bar-date-filter, .tribe-bar-mini .tribe-bar-search-filter, .tribe-bar-mini .tribe-bar-submit {
	padding: 0;
}
.tribe-bar-collapse .tribe-bar-date-filter,
.tribe-bar-collapse .tribe-bar-search-filter,
.tribe-bar-collapse .tribe-bar-submit {
	padding: 0;
}
.datepicker {
	z-index:10005 !important;
}
.datepicker table {
	border-collapse: collapse !important;
}
.datepicker table,
.datepicker table td,
.datepicker table th {
	border-width:0 !important;
}
.tribe-bar-date-filter,
.tribe-bar-mini .tribe-bar-date-filter {
	width: 36%;
	padding-right: 0.6em;
}
.tribe-bar-mini .tribe-bar-date-filter {
	padding-left:0;
}
.datepicker th, .datepicker td,
.datepicker thead tr:first-child th, .datepicker tfoot tr th {
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
.tribe-bar-search-filter,
.tribe-bar-mini .tribe-bar-search-filter {
	width: 38%;
	padding-right: 1.7em;
}
.tribe-bar-submit,
.tribe-bar-mini .tribe-bar-submit {
	width: 25%;
	padding-right: 1em;
	margin: 1.45em 0 0 0;
	
}
.tribe-bar-submit input[type='submit'],
.tribe-bar-mini .tribe-bar-submit input[type='submit'] {
	letter-spacing: 2px!important;
}
#tribe-bar-form label {
	/*display:none;*/
	text-transform:none;
	font-size:1em;
	margin-bottom: 9px;
}
#tribe-bar-views label {
	display:none;
}
#tribe-bar-form input[type="text"] {
	border: none;
	border-bottom: 2px solid #ddd;
	padding: 1.5em 0.8em;
	font-style: normal;
}
#tribe-bar-form input[type=text]:focus {
	outline: none;
}
#tribe-bar-form .tribe-bar-submit input[type="submit"],
#tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"] {
	padding: 1.1667em 1.5em;
	border: none;
	margin:0;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	padding: 1.1667em 2em;
	display:block;
	text-align:left;
}

/* Page title */
.tribe-events-page-title {
	display:none;
}

/* Page content */
#tribe-events-content.tribe-events-month {
	font-size: 14px;
	line-height:1.4em;
}
#tribe-events-content {
	padding:0;
	margin: 3.3em 0 0;
}
#tribe-events-footer, #tribe-events-header {
	margin:0;
}
#tribe-events-content table.tribe-events-calendar {
	margin: 0 0 2em;
	font-size:1em;
}

body.tribe-events-day {
	padding: 0;
}

.events-list #tribe-events-footer,
.tribe-events-day #tribe-events-footer,
.tribe-events-map #tribe-events-footer,
.tribe-events-calendar + #tribe-events-footer {
	margin: 3.4em 0 1.8em;
}
.events-list #tribe-events-footer,
.single-tribe_events #tribe-events-footer,
.tribe-events-day #tribe-events-footer,
.tribe-events-map #tribe-events-footer,
.tribe-events-photo #tribe-events-footer {
	padding-top: 3em;
	border-top-style:dotted;
}

/* Calendar */
.tribe-events-calendar thead th {
	padding: 1.8em 0 !important;
	font-weight:400;
	letter-spacing: 0;
	text-transform: none;
	position:relative;
	font-family: Rubik;
	font-size: 18px;
	border: none;
}

.tribe-events-calendar thead th + th:before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	/*margin-top:-0.6em;*/
	width: 1px;
	height: 100%;
	/*display: none;*/
}
#tribe-events-content .tribe-events-calendar td {
	font-size:1em;
	padding:0;
	height:10em;
	text-align:left;
}
#tribe-events-content .tribe-events-calendar td:hover {
	box-shadow: none;
	background:none;
}
.tribe-events-calendar td div[id*="tribe-events-daynum-"],
.tribe-events-calendar td div[id*="tribe-events-daynum-"] a {
	font-size: 1em;
	font-weight:400;
}

.tribe-events-calendar td div[id*="tribe-events-daynum-"] {
	padding: 0.9em 1.7em 0.2em;
	margin-bottom:0.4em;
	text-align:left;
}
.tribe-events-calendar td div[id*="tribe-events-daynum-"], .tribe-events-calendar td div[id*="tribe-events-daynum-"] > a,
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a,
.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a {
	background: none;
}
#tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover,
.tribe-events-calendar td.tribe-events-present.mobile-active,
.tribe-events-calendar td.tribe-events-present.mobile-active div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present.mobile-active div[id*="tribe-events-daynum-"] a {
	background-color: transparent;
}
.tribe-events-calendar td.tribe-events-present {
	position:relative;
}
.tribe-events-calendar td.tribe-events-present:before {
	content:' ';
	position:absolute;
	left:-1px;
	top:0;
	bottom: -1px;
	right: -1px;
	border: 1px solid #ddd;
}
.events-archive.events-gridview #tribe-events-content table .type-tribe_events {
	margin:0;
	padding: 0.1em 1.5em;
}
#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title {
	font-size: 15px;
	font-weight:400;
}

/* Mobile view */
.tribe-bar-collapse #tribe-bar-collapse-toggle {
	padding: 0.6em 0.7em;
	width: 66%;
	font-size: 14px;
	font-weight: 400;
}
#tribe-bar-collapse-toggle span.tribe-bar-toggle-arrow:after {
	content: '\e828';
	font-family:'fontello';
	width: 1em;
	height: 1em;
	line-height:1em;
	top:5px;
	border: none;
}
#tribe-bar-collapse-toggle.tribe-bar-filters-open span.tribe-bar-toggle-arrow:after {
	content: '\e835';
	top:5px;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views .tribe-bar-views-list {
	padding:0;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views {
	float:right;
	width:32%;
}
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-date-filter,
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-search-filter,
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-submit {
	float:left;
	width: 32%;
}
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-date-filter,
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-search-filter {
	margin-right:2%;
}
.tribe-events-calendar .tribe-events-has-events.mobile-trigger:after {
	margin: 1.5em auto 0;
}
.tribe-events-calendar td.mobile-trigger div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.mobile-trigger div[id*="tribe-events-daynum-"] a {
	margin-top: 0;
}
.tribe-mobile-day-heading {
	font-size:1.4286em;
	line-height:1.25em;
}
#tribe-mobile-container {
	margin-bottom: 2em;
}
#tribe-mobile-container .type-tribe_events {
	padding-top:1em;
}
#tribe-mobile-container .type-tribe_events h4 {
	font-size: 1.0714em;
	margin-bottom: 1em;
}
#tribe-mobile-container .type-tribe_events .tribe-event-date-start {
	display: inline-block;
	margin-bottom: 0.8em;
}
#tribe-mobile-container .type-tribe_events .tribe-events-read-more {
	margin-top:0;
	padding:0;
}


/* Tooltip */
.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip {
	padding:0;
	bottom: 5.5em !important;
	left: -2em;
	width: 32.5em;
	z-index:10000;
	text-transform:none;
}
.tribe-events-tooltip .tribe-events-arrow {
	background:none;
	width: 14px;
	height:14px;
	bottom: -7px;
	left: 5.2em;
	display:block;
	-webkit-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.tribe-events-tooltip .tribe-events-event-body {
	font-size: 1em;
	line-height: 1.8em;
	padding: 1em 1.8em 1.5em;
}
#tribe-events-content .tribe-events-tooltip h3 {
	font-size: 1.4em;
	font-weight:400;
	line-height:1.25em;
	padding: 1.2em 1.2em 2.5em;
	margin: 0;
}
.tribe-events-tooltip .tribe-event-duration {
	margin:-4.5em 0 2em;
	line-height: 1.5em;
	height: 3em;
	overflow:hidden;
}
.tribe-events-tooltip .tribe-events-event-thumb {
	padding:0.5em 1.5em 0 0;
}
.tribe-events-tooltip .tribe-event-description p {
	margin:0;
	line-height: 1.7em;
}
.tribe-events-tooltip .tribe-event-description p+p {
	margin-top:1em;
}

/* Buttons and Navigation */
#tribe-events-footer .tribe-events-sub-nav {
	display: flex;
	justify-content: space-between;
}
#tribe-events-footer .tribe-events-sub-nav li {
	width: 48% !important;
	margin:0 !important;
	padding:0 !important;
	overflow:hidden;
}
#tribe-events-footer .tribe-events-sub-nav li a {
	/*white-space:nowrap;*/
	padding-left: 3em;
	padding-right: 3em;
	height: 100%;
}
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next {
	text-align: right;
}
.tribe-events-sub-nav li a span {
	display: none !important;
}
#tribe-events .tribe-events-button:after,
.tribe-events-button:after,
.tribe-events-cal-links a:after,
.tribe-events-sub-nav li.tribe-events-nav-next a:after {
	content:'\e93a';
	font-family:'fontello';
	margin-left: 0.5em;
}
.tribe-events-sub-nav li.tribe-events-nav-previous a:before {
	content:'\e939';
	font-family:'fontello';
	margin-right: 0.5em;
}

/* Buttons */
.tribe-events-read-more {
	display:block;
	margin-top:1.5em;
	padding: 0 !important;
}


/* Events list */
.events-list .tribe-events-loop, .single-tribe_organizer .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .tribe-events-day .tribe-events-loop {
	max-width: 770px;
}
.tribe-events-list .tribe-events-list-separator-month {
	margin: 3.5em auto;
	font-size: 1.25em;
	font-weight:400;
	line-height:1.6em;
	text-transform:uppercase;
	letter-spacing:2px;
}
.tribe-events-list .tribe-events-list-separator-month:first-child {
	margin-top:2em;
}

.tribe-events-list .tribe-events-event-cost {
	margin:0;
	position:absolute;
	top: 0;
	right: 0;
	display:block !important;
}
.tribe-events-list .tribe-events-event-cost span {
	padding:0.6em 1em;
	font-weight:400;
}

.tribe-events-list .tribe-events-event-meta {
	font-weight:400;
}
.tribe-events-event-meta address.tribe-events-address,
.tribe-events-list .tribe-events-venue-details {
	font-style:normal;
	line-height: 1.5em;
}
.tribe-events-event-meta .tribe-event-schedule-details {
	margin-bottom:0.8em;
	font-size:1.0667em;
	font-style:italic;
	letter-spacing:0;
}
.tribe-events-list .type-tribe_events,
.tribe-events-list-separator-month + .type-tribe_events.tribe-events-first {
	padding:0;
	margin:0;
}
.tribe-events-list .type-tribe_events + .type-tribe_events,
.tribe-events-day .tribe-events-day-time-slot + .tribe-events-day-time-slot + .tribe-events-day-time-slot {
	border-top: 1px solid #eee;
	margin-top: 4em;
	padding-top:4em;
}
.tribe-events-list .tribe-events-event-image {
	margin-top:0.4em;
	width: 30%;
	float:left;
}
.tribe-events-list .tribe-events-loop .tribe-events-content {
	text-align:justify;
}
#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
	line-height:1.8em;
}
.tribe-events-loop .tribe-events-content {
	padding-right:0;
}


/* Evets day */
#tribe-events-day {
	padding:0;
}
.tribe-events-day .tribe-events-day-time-slot h5 {
	margin: 0 0 1em;
	padding:1em 2em;
}
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events {
	margin-left: 0;
}


/* Single event */
#tribe-events-content.tribe-events-single {
	margin-top:0;
}
.tribe-events-back {
	display:none;
}
.tribe-events-notices {
	text-shadow: none;
	margin:0 0 1em 0;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
.single-tribe_events .tribe-events-single-event-title {
	font-size:2em;
	line-height: 1.2em;
	letter-spacing:2px;
	margin:0;
	text-align:center;
}
.tribe-events-notices + .tribe-events-single-event-title {
	margin-top: 1.5em;
}
.tribe-events-schedule {
	position:relative;
}
.tribe-events-schedule h2 {
	font-size:12px;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:1px;
	margin:0;
	display:block;
	text-align:center;
}
.single-tribe_events .tribe-events-schedule .tribe-events-divider,
.single-tribe_events .tribe-events-schedule .tribe-events-cost {
	font-size: 1em;
}
.single-tribe_events .tribe-events-schedule .tribe-events-divider {
	display: none;
}
.single-tribe_events .tribe-events-schedule .tribe-events-cost {
	position:absolute;
	z-index:1;
	right:0;
	top: 0;
	font-weight:400;
}
.single-tribe_events .tribe-events-single-event-title,
.single-tribe_events .tribe-events-schedule {
	display:none;
}
.single-tribe_events .tribe-events-event-image {
	float: left;
	width: 40%;
	margin: 0.4em 3% 2em 0;
}
.single-tribe_events .tribe-events-event-meta {
	font-size:1em;
	line-height:1.25em;
}
.single-tribe_events .tribe-events-cal-links:after {
	content:' ';
	display:block;
	height:0;
	width: 100%;
	clear:both;
}
.single-tribe_events .type-tribe_events {
	padding-top: 0;
}

.single-tribe_events .tribe-events-single-section {
	clear:none;
	float:left;
	width: 50%;
	margin: 0;
	padding: 3em 0 0;
	border: none;
	background-color:transparent;
}
.single-tribe_events .tribe-events-event-meta .tribe-events-meta-group {
	padding:0;
	margin:0;
	width: 40%;
}
.single-tribe_events .tribe-events-event-meta .tribe-events-venue-map {
	width: 50%;
}
.single-tribe_events .tribe-events-event-meta .tribe-events-venue-map > div {
	height: 250px !important;
}
.single-tribe_events .tribe-events-event-meta .tribe-events-meta-group + .tribe-events-meta-group {
	margin-left:3em;
}
.single-tribe_events .tribe-events-meta-group .tribe-events-single-section-title {
	margin-top:0;
	font-size: 1.2em;
}
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt, 
.single-tribe_events #tribe-events-content .tribe-events-event-meta dd {
	line-height:1.4em;
}
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt {
	font-size:1.0667em;
	letter-spacing:0;
	font-style:italic;
	font-weight:400;
}
.single-tribe_events .tribe-events-venue-map {
	margin:0;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
.single-tribe_events #tribe-events-footer {
	border-top: none;
}
.single-tribe_events .tribe-events-sub-nav li a {
	white-space:normal;
	max-width:95%;
}
.single-tribe_events .tribe-events-sub-nav li a:before,
.single-tribe_events .tribe-events-sub-nav li a:after {
	display:inline-block;
	line-height:inherit;
	margin: 0 0.3em 0 0;
}
.single-tribe_events .tribe-events-sub-nav li a:after {
	margin: 0 0 0 0.3em;
}
.single-tribe_events .tribe-events-sub-nav .tribe-events-nav-next,
.single-tribe_events .tribe-events-sub-nav .tribe-events-nav-next a {
	text-align:right;
}
#tribe-events-footer:before,
#tribe-events-footer:after {
	display: none;
}

/* Widget */
.tribe-events-list-widget .tribe-list-widget {
	padding-left: 0;
}
.tribe-events-list-widget .tribe-events-list-widget-events {
	margin-bottom: 1.5em;
	padding:0;
}
.tribe-events-list-widget .tribe-events-list-widget-events .tribe-event-title {
	font-size: 1.2em;
	margin:0;
}




.tribe-events-othermonth .tribe-events-month-event-title, 
.tribe-events-othermonth div[id*=tribe-events-daynum-] {
	opacity: 1;
}

@media(max-width: 1679px){
	#tribe-bar-form label {
		margin-bottom: 6px;
	}
}
@media(max-width: 1263px){
	#tribe-bar-form input[type="text"] {
		padding: 1.6em 0.8em;
	}
}
@media(max-width: 960px){
	.tribe-bar-collapse #tribe-bar-collapse-toggle {
		padding: 0.75em;
	}
	#tribe-bar-form label,
	#tribe-bar-dates label {
		display: none;
	}
	#tribe-bar-form input[type="text"] {
		padding: 1.75em 0.8em
	}

	#tribe-bar-form.tribe-bar-collapse #tribe-bar-views{
		top: 0;	
	}
	.tribe-events-calendar thead th {
		font-size: 1em;
	}
	#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title {
		font-size: 11px;
	}
}
@media(max-width: 767px){
	.tribe-bar-collapse #tribe-bar-collapse-toggle {
		padding: 0.8em;
	}
	#tribe-bar-form input[type="text"] {
		padding: 1.65em 0.8em;
	}
}
@media(max-width: 640px){
	#tribe-bar-form {
		padding: 1em;
	}
	.tribe-bar-collapse #tribe-bar-collapse-toggle {
		padding: 0.87em;
	}
	/*#tribe-bar-form input[type="text"] {
		padding: 1.6em 0.8em;
	}*/
}
@media(max-width: 480px){	
	/*.tribe-bar-collapse #tribe-bar-collapse-toggle {
		padding: 0.881em;
	}*/
	/*#tribe-bar-form input[type="text"] {
		padding: 1.45em 0.5em;
	}*/	
	#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a, 
	.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
		padding-top: 1.55em!important;
		padding-bottom: 1.54em!important;
	}
	.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-date-filter, 
	.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-search-filter, 
	.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-submit {
		width: 100%;
		margin-bottom: 5px;
	}
	.tribe-icon-month {
		font-size: 8px;
	}
}
.single-tribe_events .tribe-events-cal-links,
#tribe-events-header .tribe-events-sub-nav {
	display: none;
}
