/*
 * Custom layouts.
 *
 */
.sc_layouts_row {
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.sc_layouts_row .sc_layouts_item {
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}
.sc_layouts_item {
	max-width:100%;
}
.sc_layouts_column .sc_layouts_item {							display: inline-block; vertical-align:middle; margin-right: 1.5em; }
.sc_layouts_column .sc_layouts_item:last-child { 				margin-right:0 !important; }
.sc_layouts_column_align_right .sc_layouts_item {				margin-left: 1.5em; margin-right:0; }
.sc_layouts_column_align_right .sc_layouts_item:first-child {	margin-left:0 !important; }

.sc_layouts_column_align_left,
.sc_layouts_column.sc_layouts_column_align_left .widget,
.sc_layouts_column.sc_layouts_column_align_left .widget_title,
.sc_layouts_column.sc_layouts_column_align_left .widgettitle {	text-align:left; }
.sc_layouts_column_align_center,
.sc_layouts_column.sc_layouts_column_align_center .widget,
.sc_layouts_column.sc_layouts_column_align_center .widget_title,
.sc_layouts_column.sc_layouts_column_align_center .widgettitle {	text-align:center; }
.sc_layouts_column_align_right,
.sc_layouts_column.sc_layouts_column_align_right .widget,
.sc_layouts_column.sc_layouts_column_align_right .widget_title,
.sc_layouts_column.sc_layouts_column_align_right .widgettitle {	text-align:right; }

@media (max-width: 959px) {
	.sc_layouts_column .sc_layouts_item {				margin-right: 1.25em; }
	.sc_layouts_column_align_right .sc_layouts_item {	margin-left: 1.25em; margin-right:0; }
}
@media (max-width: 767px) {
	.sc_layouts_column:not([class*="sc_layouts_column_fluid"]):not([class*="vc_col-xs-"]) {
		width: 100% !important;
	}
	.sc_layouts_column_align_left:not([class*="sc_layouts_column_fluid"]):not([class*="vc_col-xs-"]),
	.sc_layouts_column_align_right:not([class*="sc_layouts_column_fluid"]):not([class*="vc_col-xs-"]) {
		text-align:center;
	}
}
@media (max-width: 639px) {
	.sc_layouts_row .sc_layouts_item {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}

.sc_layouts_row_delimiter {
	border-bottom: 1px solid #ddd;
}


/* Hide on XXX
------------------------------------------------- */
body.frontpage .sc_layouts_hide_on_frontpage,
body.error404 .sc_layouts_hide_on_frontpage {	display: none !important; }
@media (min-width: 1680px) {
	.hide_on_desktop,
	.sc_layouts_hide_on_desktop {				display: none !important; }
}
@media (min-width: 1168px) and (max-width: 1679px) {
	.hide_on_notebook,
	.sc_layouts_hide_on_notebook {				display: none !important; }
}
@media (min-width: 768px) and (max-width: 1167px) {
	.hide_on_tablet,
	.sc_layouts_hide_on_tablet {				display: none !important; }
}
@media (max-width: 767px) {
	.hide_on_mobile,
	.sc_layouts_hide_on_mobile {				display: none !important; }
}


/* Common rules
------------------------------------------------- */

/* VC Separator */
.sc_layouts_row .vc_separator {
	margin-top: 3em !important;
	margin-bottom: 3em !important;
}

/* Text with icons */
.sc_layouts_iconed_text {
	white-space: nowrap;
}
.sc_layouts_item_link {
	display:block;
}
.sc_layouts_item_icon {
	font-size: 2.25em;
	line-height:1.1em;
	display: inline-block;
	vertical-align:middle;
	-webkit-transition: color .3s ease;
	    -ms-transition: color .3s ease;
	        transition: color .3s ease;
}
.sc_layouts_item_details {
	display: inline-block;
	/*vertical-align:middle;*/
	vertical-align:top;
	white-space:normal;
}
.sc_layouts_item_icon + .sc_layouts_item_details {
	margin-left: 0.5em;
}
.sc_layouts_column_icons_position_left .sc_layouts_item_details {
	text-align: left;
}
.sc_layouts_column_icons_position_right .sc_layouts_item_details {
	text-align: right;
}
.sc_align_center .sc_layouts_item_details {
	text-align: center;
}
.sc_layouts_item_details_line1,
.sc_layouts_item_details_line2 {
	display: block;
}
.sc_layouts_item_details_line1 {
	font-weight:300;
	font-size:13px;
	line-height:16px;
}
.sc_layouts_item_details_line2 {
	font-weight:600;
	font-size:16px;
	line-height:21px;
}

@media (max-width: 959px) {
	.sc_layouts_item_details_line1 {
		font-size:12px;
		line-height:16px;
	}
	.sc_layouts_item_details_line2 {
		font-size:15px;
		line-height:20px;
	}
}
@media (max-width: 767px) {
	.sc_layouts_item_details_line1 {
		font-size:11px;
		line-height:14px;
	}
	.sc_layouts_item_details_line2 {
		font-size:13px;
		line-height:18px;
	}
}
@media (max-width: 479px) {
	.sc_layouts_row_type_compact .sc_layouts_item_details,
	.sc_layouts_row_type_normal .sc_layouts_item_details {
		display: none;
	}
}
.sc_layouts_column_icons_position_right .sc_layouts_item:after {
	content: ' ';
	width: 100%;
	height: 0;
	clear:both;
}
.sc_layouts_column_icons_position_right .sc_layouts_item_icon {
	float:right;
	margin-left: 0.4em;
	margin-right: 0;
}
.sc_layouts_column_icons_position_right .sc_layouts_item_details {
	float:right;
}



/* Row type: Narrow
-------------------------------------------------- */
.sc_layouts_row_type_narrow {
	font-size: 13px;
	line-height:19px;
	padding: 0.5em 0;
}

@media (max-width: 959px) {
	.sc_layouts_row_type_narrow {
		font-size: 12px;
		line-height:18px;
	}
}
@media (max-width: 767px) {
	.sc_layouts_row_type_narrow {
		font-size: 11px;
		line-height:16px;
	}
}

.sc_layouts_row_type_narrow .sc_layouts_item {
	font-size: 0.8667em;
	line-height:1.4615em;
	letter-spacing:0;
}

/* Text with icons */
.sc_layouts_row_type_narrow .sc_layouts_item_icon,
.sc_layouts_row_type_narrow .sc_layouts_item input[type="text"] {
	font-size: inherit;
	font-weight: inherit;
	line-height:inherit;
}
.sc_layouts_row_type_narrow .sc_layouts_item_details_line1,
.sc_layouts_row_type_narrow .sc_layouts_item_details_line2 {
	display:inline-block;
	font-size:inherit;
	font-weight:inherit;
	line-height:inherit;
}
.sc_layouts_row_type_narrow .sc_layouts_item_details_line1 + .sc_layouts_item_details_line2 {
	margin-left: 0.5em;
}
/*
@media (max-width: 959px) {
	.sc_layouts_row_type_narrow .sc_layouts_item_details_line1 {
		display: none;
	}
	.sc_layouts_row_type_narrow .sc_layouts_item_details_line1 + .sc_layouts_item_details_line2 {
		margin-left: 0;
	}
}
*/


/* Social icons */
.sc_layouts_row_type_narrow .socials_wrap {
	margin: 0 -8px 0 0;
}
.sc_layouts_row_type_narrow .socials_wrap .social_item {
	margin: 0 8px 0 0;
}
.sc_layouts_row_type_narrow .socials_wrap .social_item .social_icon {
	width: auto;
	height: auto;
	line-height:inherit;
	font-size: 15px;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
.sc_layouts_row_type_narrow .socials_wrap .social_item_style_bg .social_icon {
	width: 1.2em;
	height: 1.2em;
}

/* Button */
.sc_layouts_row_type_narrow .sc_button {
	background-color: transparent;
	border: 1px solid #efa758;
	color: #efa758;
	text-transform:uppercase;
	font-size:11px;
	font-weight:400;
	padding: 1em 2em;
	letter-spacing:0;
	vertical-align:top;
}



/* Row type: Compact
-------------------------------------------------- */
.sc_layouts_row_type_compact {
	padding: 0.75em 0;
}

.sc_layouts_row_type_compact .sc_layouts_item,
.sc_layouts_row_type_normal .sc_layouts_item {
	letter-spacing:0;
}

/* Text with icons */
.sc_layouts_row_type_compact .sc_layouts_item_icon {
	font-size:1.25em;
	font-weight: 400;
}
.sc_layouts_row_type_compact .sc_layouts_item input[type="text"] {
	font-size: inherit;
	font-weight: inherit;
	line-height:inherit;
}
.sc_layouts_row_type_compact .sc_layouts_item_details_line1,
.sc_layouts_row_type_compact .sc_layouts_item_details_line2 {
	display:inline-block;
	font-size:inherit;
	font-weight:inherit;
	line-height:inherit;
}
.sc_layouts_row_type_compact .sc_layouts_item_details_line1 + .sc_layouts_item_details_line2 {
	margin-left: 0.5em;
}

/* Social icons */
.sc_layouts_row_type_compact .socials_wrap {
	margin: 0 -10px 0 0;
}
.sc_layouts_row_type_compact .socials_wrap .social_item {
	margin: 0 10px 0 0;
}
.sc_layouts_row_type_compact .socials_wrap .social_item .social_icon {
	width: auto;
	height: auto;
	line-height:inherit;
	font-size: 15px;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
.sc_layouts_row_type_compact .socials_wrap .social_item_style_bg .social_icon {
	width: 1.2em;
	height: 1.2em;
}


/* Button */
.sc_layouts_row_type_compact .sc_button {
	background-color: #efa758;
	color: #fff;
	font-size:12px;
	font-weight:400;
	padding: 1.5em 3em;
	letter-spacing:0.5px;
	vertical-align:top;
}



/* Row type: Normal
-------------------------------------------------- */
.sc_layouts_row_type_normal {
	padding: 2em 0;
}

/* Button */
.sc_layouts_row_type_normal .sc_button {
	background-color: #efa758;
	color: #fff;
	font-size:11px;
	font-weight:600;
	padding: 1.5em 3em;
	letter-spacing:0.5px;
	vertical-align:top;
}



/* Fixed rows
--------------------------------------------- */
.sc_layouts_row_fixed_placeholder {
	display: none;
}
.sc_layouts_row_fixed_on + .sc_layouts_row_fixed_placeholder {
	display: block;
}
.sc_layouts_row_fixed_on {
	position: fixed;
	z-index:100002;
	top: 0;
	left: -15px;
	right: -15px;
	margin: 0 !important;
	background-color:#fff;
}
.sc_layouts_row_fixed_on ~ .sc_layouts_row_fixed_on {
	z-index:100001;
}
.sc_layouts_row_fixed_on ~ .sc_layouts_row_fixed_on ~ .sc_layouts_row_fixed_on {
	z-index:100000;
}
@media (max-width: 767px) {
	.sc_layouts_row_fixed_on:not(.sc_layouts_row_fixed_always) {
		position:absolute;
	}
}
.sc_layouts_row_type_compact.sc_layouts_row_fixed_on,
.sc_layouts_row_type_normal.sc_layouts_row_fixed_on {
	padding-top:0;
	padding-bottom:0;
}
.sc_layouts_row.sc_layouts_row_fixed_on .custom-logo-link img,
.sc_layouts_row.sc_layouts_row_fixed_on .sc_layouts_logo img {
	max-height:40px;
}



/* Flex columns with equal height
--------------------------------------------- */
.sc_layouts_flex {
    box-sizing: border-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.sc_layouts_flex > .sc_layouts_column {
    display: flex
}
.sc_layouts_flex > .sc_layouts_column > .sc_layouts_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
.sc_layouts_flex.sc_layouts_columns_stretch {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch
}
.sc_layouts_flex.sc_layouts_columns_top {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start
}
.sc_layouts_flex.sc_layouts_columns_bottom {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end
}
.sc_layouts_flex.sc_layouts_columns_middle {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center
}
.sc_layouts_flex.sc_layouts_columns_bottom:after,
.sc_layouts_flex.sc_layouts_columns_middle:after,
.sc_layouts_flex.sc_layouts_columns_top:after {
    content: '';
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block
}
.sc_layouts_flex.sc_layouts_content_top > .sc_layouts_column > .sc_layouts_item {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}
.sc_layouts_flex.sc_layouts_content_top:not(.sc_layouts_columns_stretch) > .sc_layouts_column {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}
.sc_layouts_flex.sc_layouts_content_bottom > .sc_layouts_column > .sc_layouts_item {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.sc_layouts_flex.sc_layouts_content_bottom:not(.sc_layouts_columns_stretch) > .sc_layouts_column {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}
.sc_layouts_flex.sc_layouts_content_middle > .sc_layouts_column > .sc_layouts_item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.sc_layouts_flex.sc_layouts_content_middle:not(.sc_layouts_columns_stretch) > .sc_layouts_column {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
