/* Essential Grid styles
----------------------------------------------------------------- */

.esg-grid i[class*="eg-icon-"] {
	color: #c9727a;
	-webkit-transition: color .5s ease;
	    -ms-transition: color .5s ease;
	        transition: color .5s ease;
}
.esg-grid a:hover i[class*="eg-icon-"] {
	color: #fff;
}
.esg-navigationbutton i[class*="eg-icon-"] {
	/*color: #888;*/
}
.esg-navigationbutton:hover i[class*="eg-icon-"] {
	/*color: #333;*/
}

.flat-light .esg-filters .esg-sortbutton-order,
.flat-light .esg-filters .esg-cartbutton-order {
	line-height:36px;
	margin:0;
}
.flat-light .esg-filters .esg-sortbutton {
	padding-right: 0;
}

.esgbox-overlay {
	z-index: 28010 !important;
}
.esgbox-opened {
	z-index: 28030 !important;
}
