/* Media crop
-----------------------------------------------------------------*/
.media-frame-content .crop-content > img + div + div {
	min-height: 10px;
}

/* Notices
-----------------------------------------------------------------*/
#jude_admin_notice {
	display:block;
	margin-top: 1em;
	margin-left: 0;
}
#jude_admin_notice .jude_notice_title {
	margin:0;
}
#jude_admin_notice p {
	margin-bottom:0;
}
#jude_admin_notice .dashicons {
	font-size:1.2em;
	line-height:inherit;
}

#jude_admin_notice .button+.button {
	margin-left: 0.3em;
}

.jude_admin_messages {
	margin-bottom: 1em;
}
.jude_admin_messages .jude_admin_message_item {
	margin: 0.5em 0;
}


/* Menu icons
-----------------------------------------------------------------*/
.menu-item-settings .description-thin {
	position:relative;
}
.jude_list_icons_selector {
	position:absolute;
	right: 1px;
	top: 50%;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
	z-index:2;
	display:inline-block;
	width: 24px;
	height:24px;
	line-height: 24px;
	text-align:center;
	border-left: 1px solid #ccc;
	background-size: 100%;
	background-position:left top;
	background-repeat:no-repeat;
	cursor:pointer;
}
.menu-item-settings .jude_list_icons_selector {
	top: auto;
	bottom: 2px;
	-webkit-transform:none;
	    -ms-transform:none;
	        transform:none;
	background-color:#fff;
}
.jude_list_icons {
	position:absolute;
	display:none;
	z-index:1000;
	width: 298px;
	height: 284px;
	overflow-x:hidden;
	overflow-y:scroll;
	background-color:#f0f0f0;
	padding:1px 0 0 1px;
	border: 2px solid #ccc;
	max-width:100%;
}
.jude_list_icons input[type="text"].jude_list_icons_search {
	display: block;
	font-size: 16px;
	width: 99% !important;
	padding: 6px;
	margin-bottom:1px;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.jude_list_icons span {
	display:inline-block;
	font-size: 16px;
	width: 2em;
	height:2em;
	line-height: 2em;
	text-align:center;
	vertical-align:top;
	border: 1px solid #ccc;
	margin: 0 1px 1px 0;
	background-color:#fff;
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	-webkit-border-radius: 2px;
	    -ms-border-radius: 2px;
			border-radius: 2px;
}
.customize-control .jude_list_icons span {
	font-size: 15px;
}
.jude_list_icons span:before,
.jude_list_icons_selector:before {
	margin:0;
}
.jude_list_icons span:hover,
.jude_list_icons span.jude_list_active,
.jude_list_icons_selector:hover {
	background-color:#f0f0f0;
	border-color: #bbb;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	    -ms-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);	
}
.jude_list_icons span.jude_list_hidden {
	display: none;
}


/* Checklist
-----------------------------------------------------------------*/
.jude_checklist {
	max-height:20em;
	overflow-x: hidden;
	overflow-y: auto;
}
.jude_checklist .jude_checklist_item_label {
	display:block;
	width: 100%;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.jude_checklist_horizontal .jude_checklist_item_label {
	display:inline-block;
	vertical-align:top;
	padding-right: 1em;
	width: 33.3333%;
}
.jude_checklist_vertical .jude_checklist_item_label {
	margin-bottom: 0.5em;
}
.jude_checklist .jude_checklist_item_label img {
	height: 2.5em;
	width: auto;
	display:inline-block;
	vertical-align:middle;
}

.jude_sortable .jude_sortable_item,
.jude_sortable .jude_sortable_placeholder {
	padding:0.5em 1em;
	border: 1px dotted #ddd;
}
.jude_sortable .jude_sortable_placeholder {
	background-color:#fffddd;
	border: 1px dashed #ccc;
	min-height: 1.5em;
}
.jude_sortable .jude_sortable_item.ui-sortable-helper {
	background-color:#ffffff;
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	    -ms-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}


/* Theme Options & Meta boxes
-----------------------------------------------------------------*/
.jude_hidden {
	display: none;
}

div.jude_tabs {
	border: none;
	background: none;
	font-size: 1em;
}
div.jude_tabs > ul.ui-tabs-nav {
	margin-bottom:0;
	padding: 0;
	position:relative;
	z-index:1;
	background: none;
	border: none;
}
div.jude_tabs > ul.ui-tabs-nav > li {
	display:inline-block;
	margin:0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border:1px solid #ddd;
	border-bottom:none;
}
div.jude_tabs > ul.ui-tabs-nav > li > a {
	display:block;
	padding: 0.7em 1em;
	text-decoration:none;
	-webkit-box-shadow: none !important;
	    -ms-box-shadow: none !important;
			box-shadow: none !important;
}
div.jude_tabs > ul.ui-tabs-nav > li.ui-state-active > a {
	position:relative;
	top: 1px;
	background-color:#fff;
}
div.jude_tabs > ul.ui-tabs-nav > li+li {
	margin-left:3px;
}

div.jude_tabs .jude_tabs_section {
	padding: 2em 1.5em;
	border:1px solid #ddd !important;
	background-color:#fff;
}
div.jude_tabs_section + .jude_tabs_section {
	display:none;
}

/* Accordion groups */
div.jude_accordion {
	padding:0 !important;
}
div.jude_accordion + .jude_accordion,
.jude_options_item + .jude_options_groups {
	padding:1.5em 0 !important;
}
div.jude_accordion_title,
div.ui-accordion .jude_accordion_title.ui-accordion-header {
	padding:0.8em 1em;
	color: #fff;
	background: #bbb;	/*#00a0d0;*/
	margin:0;
	margin-top:1px;
	cursor:pointer;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
div.ui-accordion .jude_accordion_title.ui-accordion-header.ui-state-active {
	background:#888;	/*#0080b0;*/
}
div.ui-accordion .jude_accordion_title.ui-accordion-header .ui-icon {
	display:inline-block;
	vertical-align:top;
	text-indent:0;
	margin-right:0.8em;
}
div.ui-accordion .jude_accordion_title.ui-accordion-header .ui-icon:before {
	content:'\e929';
	font-family: 'fontello';
}
div.jude_accordion_title.ui-accordion-header.ui-state-active .ui-icon:before {
	content:'\e92c';
}
div.ui-accordion .jude_accordion_content {
	border:1px solid #ccc;
	padding: 1em 2em;
}


/* Single and Range Slider */
.jude_range_slider {
	font-family:inherit;
	font-size:1em;
	line-height:inherit;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}
.jude_range_slider_value {
	display:inline-block;
	vertical-align:top;
	width: 15% !important;
	margin-right:3% !important;
	text-align:right;
}
.jude_range_slider_value + .jude_range_slider {
	display:inline-block;
	vertical-align:top;
	width: 80%;
}
@media (max-width: 479px) {
	.jude_range_slider_value {
		width: 20% !important;
	}
	.jude_range_slider_value + .jude_range_slider {
		width: 75%;
	}
}
.jude_range_slider_label {
	font-size: 0.75em;
	font-weight: bold;
	line-height: 1em;
	position: absolute;
	z-index:1;
	bottom: -2em;
}
.jude_range_slider_label_min {
	left: 0;
	color: #aaa;
	-webkit-transform:translateX(-50%);
	    -ms-transform:translateX(-50%);
	        transform:translateX(-50%);
}
.jude_range_slider_label_max {
	right: 0;
	color: #aaa;
	-webkit-transform:translateX(50%);
	    -ms-transform:translateX(50%);
	        transform:translateX(50%);
}
.jude_range_slider_label_cur {
	color: #909090;
	left: 0;
	bottom: auto;
	top: 1.4em;
	-webkit-transform:translateX(-50%);
	    -ms-transform:translateX(-50%);
	        transform:translateX(-50%);
}
div.ui-slider {
	position:relative;
	text-align:left;
	background: #ffffff;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 2px;
	    -ms-border-radius: 2px;
			border-radius: 2px;
}
div.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:1.1em;
	height:1.1em;
	cursor:default;
	-ms-touch-action:none;
	touch-action:none;
	border: 3px solid #ffffff;
	background: #f0f0f0;
	-webkit-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	    -ms-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
div.ui-slider .ui-slider-handle:hover,
div.ui-slider .ui-slider-handle.ui-state-active {
	background: #ddd;
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	    -ms-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
div.ui-slider .ui-slider-handle.ui-state-active {
	background: #64abc8;
}
div.ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
	background-position:0 0;
	background: #70c0e0;
	-webkit-border-radius: 1px;
	    -ms-border-radius: 1px;
			border-radius: 1px;
}
div.ui-slider.ui-state-disabled .ui-slider-handle,
div.ui-slider.ui-state-disabled .ui-slider-range {
	filter:inherit
}
div.ui-slider-horizontal {
	height:.3em
}
div.ui-slider-horizontal .ui-slider-handle {
	top:-.5em;
	margin-left:-.5em
}
div.ui-slider-horizontal .ui-slider-range {
	top:0;
	height:100%
}
div.ui-slider-horizontal .ui-slider-range-min {
	left:0
}
div.ui-slider-horizontal .ui-slider-range-max {
	right:0
}
div.ui-slider-vertical {
	width:.8em;
	height:100px
}
div.ui-slider-vertical .ui-slider-handle {
	left:-.3em;
	margin-left:0;
	margin-bottom:-.6em
}
div.ui-slider-vertical .ui-slider-range {
	left:0;
	width:100%
}
div.ui-slider-vertical .ui-slider-range-min {
	bottom:0
}
div.ui-slider-vertical .ui-slider-range-max {
	top:0
}


/* Single option */
.jude_options_item {
    padding: 1.5em 0 1.25em;
}
.jude_options_item:not(.jude_options_item_info) + .jude_options_item:not(.jude_options_item_info) {
    border-top: 1px dotted #ddd;
}
.jude_options_item:after {
	content: ' ';
}
.jude_new_row_before,
.jude_options_item:after {
	display:block;
	width:100%;
	height:0;
	clear: both;
}
.jude_options_item_title {
	display: inline-block;
	vertical-align:top;
	margin:0.4em 0.5em 0.5em 0;
	max-width:95%;
	width: 190px;
	padding-right:20px;
	position: relative;
}
.jude_options_item_checkbox .jude_options_item_title {
	margin-top:0.2em;
}
.jude_options_item_data {
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:470px;
}
.jude_options_item_text_editor .jude_options_item_data {
	max-width: 800px;
}
.jude_options_item_text_editor iframe {
	min-height: 200px;
}
.jude_options_item_field {
	position:relative;
}
.jude_options_item_description {
	font-style: italic;
	font-size:0.9em;
}
.jude_options_item input[type="text"],
.jude_options_item textarea,
.jude_options_item select {
	width:100%;
}

/* Checkbox */
.jude_options_item_checkbox .jude_options_item_label {
	display:inline-block;
	margin: 0.5em 0;
}

/* Radio and Switch */
.jude_options_item_switch .jude_options_item_label,
.jude_options_item_radio .jude_options_item_label {
	display:inline-block;
	margin: 0.5em 1em 0.5em 0;
}

/* Checklist */
.jude_options_item_checklist .jude_options_item_description {
	margin-top: 0.5em;
}

/* Color */
.jude_options_item_color .jude_options_item_description {
	margin-top: 0.5em;
}

/* Image */
.jude_options_item_image input[type="text"],
.jude_options_item_media input[type="text"],
.jude_options_item_audio input[type="text"],
.jude_options_item_video input[type="text"] {
	width: 73%;
}
.jude_options_item_image a.jude_media_selector,
.jude_options_item_media a.jude_media_selector,
.jude_options_item_audio a.jude_media_selector,
.jude_options_item_video a.jude_media_selector {
	display:inline-block;
	width: 26%;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Columns */
[class*="jude_column-"] {
	display:inline-block;
	vertical-align:top;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.jude_column-1_2 { width: 50%; }
.jude_column-1_3 { width: 33.3333%; }
.jude_column-2_3 { width: 66.6667%; }
.jude_column-1_4 { width: 25%; }
.jude_column-2_4 { width: 50%; }
.jude_column-3_4 { width: 75%; }
.jude_column-1_5 { width: 20%; }
.jude_column-2_5 { width: 40%; }
.jude_column-3_5 { width: 60%; }
.jude_column-4_5 { width: 80%; }
@media (max-width: 1279px) {
	.jude_column-1_4,
	.jude_column-3_4,
	.jude_column-1_5,
	.jude_column-2_5,
	.jude_column-3_5,
	.jude_column-4_5 { width: 50%; }
}
@media (max-width: 1023px) {
	.jude_column-1_3,
	.jude_column-2_3 { width: 50%; }
}
@media (max-width: 767px) {
	.jude_column-1_2,
	.jude_column-1_3,
	.jude_column-2_3,
	.jude_column-1_4,
	.jude_column-2_4,
	.jude_column-3_4,
	.jude_column-1_5,
	.jude_column-2_5,
	.jude_column-3_5,
	.jude_column-4_5 { width: 100%; padding-right: 0; }
}
[class*="jude_column-"] .jude_options_item_title {
	text-align: left;
	float: none;
	width: auto;
	padding-right: 0;
	display:block;
}
[class*="jude_column-"] .jude_options_item_data {
	text-align: left;
	float: none;
	width: auto;
	min-width: none;
	display:block;
}
.jude_options_item[class*="jude_column-"] {
	border-width:0 !important;
}

/* Info block */
.jude_options_item_info {
	background-color:#f7f7f7;
	padding: 1em 1.5em;
	border-left: 3px solid #aaa;
}
.jude_options_item_info .jude_options_item_title,
.jude_options_item_info .jude_options_item_data {
	float:none;
	width: 100%;
}
.jude_options_item_info .jude_options_item_title {
	text-transform:uppercase;
	letter-spacing:1px;
	text-align: left;
}

/* Images preview */
.jude_options_field_preview {
	display: block;
	margin: 1em 0 0;
}
.jude_options_field_preview img {
	width:auto;
	max-width: 100%;
	height: auto;
	max-height: 100px;
	vertical-align:top;
}
.jude_options_field_preview > img,
.jude_options_field_preview > span {
	margin: 0 0.3em 0.3em 0;
	position:relative;
	max-width: 30%;
}
.jude_options_field_preview > span {
	display:inline-block;
	cursor:pointer;
}
.jude_options_field_preview > span > a {
	padding:0.3em 0.5em;
}
.jude_options_field_preview > span:before {
	content: ' ';
	position: absolute;
	z-index:1;
	left:0;
	top:0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.5);
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.jude_options_field_preview > span:after {
	content: '\e916';
	font-family:'fontello';
	z-index:2;
	position:absolute;
	left: 50%;
	top: 50%;
	display:block;
	text-align:center;
	font-size: 1em;
	width: 1em;
	height: 1em;
	line-height: 1em;
	margin:-0.6em 0 0 -0.5em;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.jude_options_field_preview > span:hover:before,
.jude_options_field_preview > span:hover:after {
	opacity:1;
}


/*.customize-control-field-wrap .jude_list_icons_selector,*/
.jude_options_item_icon .jude_list_icons_selector {
	right: 0;
}

/* Inherit state */
.jude_options_inherit_lock {
	position:absolute;
	z-index:1;
	right: 0;
	top: 0;
	display:block;
	width:18px;
	height:18px;
	line-height:18px;
	background-color:#d0d0d0;
	color:#4c4c4c;
	text-align:center;
	border-radius: 2px;
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.jude_options_inherit_off .jude_options_inherit_lock {
	background-color:#4cb2e1;
	color:#ffffff;
}
.jude_options_inherit_lock:before {
	font-family:'fontello';
	content: '\e82b';
	padding:0;
	margin:0;
}
.jude_options_inherit_off .jude_options_inherit_lock:before {
	content: '\e8a9';
}
.jude_options_inherit_cover {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	background-image:url(../images/stripe_black.png);
	z-index:3;
}
.jude_options_inherit_label {
	position:absolute;
	display:inline-block;
	left:50%;
	top:50%;
	margin:-10px 0 0 -30px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
}
.jude_options_wait:before {
	font-family:'fontello';
	content: '\e810' !important;
	display:inline-block;
	width: 1em;
	height: 1em;
	line-height:1em;
	text-align:center;
	-webkit-animation: spin 2s infinite linear;
	    -ms-animation: spin 2s infinite linear;
	        animation: spin 2s infinite linear;
}

/* Buttons */
.jude_options_buttons {
	margin-top: 1em;
}
.jude_options_buttons input {
	border: 1px solid #0080b0;
	background-color: #00a0d0;
	color:#fff;
	padding: 0.5em 1em;
}
.jude_options_buttons input:hover {
	border-color: #006090;
	background-color: #0073aa;
}


/* Color scheme editor
-------------------------------------------------- */
.jude_scheme_editor {
	margin-bottom:1em;
}
.jude_scheme_editor_selector {
	margin-bottom: 10px;
}
.jude_scheme_editor_type {
	margin-bottom: 10px;
}
.jude_scheme_editor_type .jude_scheme_editor_row {
	border: none;
}
.jude_scheme_editor_type label+label {
	margin-left: 1em;
}
.jude_scheme_editor_type .jude_scheme_editor_description {
	font-style:italic;
	font-size:0.9em;
}
.jude_scheme_editor_header {
	padding: 3px 0;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
}
.jude_scheme_editor_header_cell,
.jude_scheme_editor_row_cell {
	display:inline-block;
	vertical-align:middle;
	width: 15%;
	padding: 0 2px 0 0;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.jude_scheme_editor_header_cell:first-child,
.jude_scheme_editor_row_cell:first-child {
	width: 25%;
}
.jude_scheme_editor_row_cell_span {
	width: 75%;
}
.jude_scheme_editor_header_cell + .jude_scheme_editor_header_cell,
.jude_scheme_editor_row_cell + .jude_scheme_editor_row_cell {
	margin-left:0;
}
.jude_scheme_editor_header_cell {
	font-weight: bold;
	text-align:center;
}
.jude_scheme_editor_row {
	padding: 3px 0;
	border-bottom: 1px dotted #ddd;
}

/* Internal ColorPicker 
-----------------------------------------------------------------*/
.iColorPickerTable .iColorPicker_moreColors {
	background-image: url(../images/colorpicker_morecolors.png);
	background-repeat:no-repeat;
	display:inline-block;
	margin-left: 0.5em;
	width: 1em;
	height: 1em;
	line-height:1em;
	vertical-align:middle;
	box-shadow: none !important;
}

/* Tiny ColorPicker 
-----------------------------------------------------------------*/
.cp-color-picker {
	z-index:1000;
	background-color: #ddd;
}


/* TGMA
-----------------------------------------------------------------*/
#setting-error-tgmpa {
	display:block;
}
.tgmpa_line_template {
	display: block;
	margin: 0.5em 0.5em 0 0;
	clear: both;
}
.tgmpa_version {
	float: right;
	padding: 0em 1.5em 0.5em 0;
}
.tgmpa_column_version {
	min-width: 32px;
	text-align: right;
	float: right;
}
.tgmpa_column_version_colored {
	color: #ff0000;
	font-weight: bold;
}
.tgmpa_column_version_colored_2 {
	color: #71C671;
	font-weight: bold;
}
.tgmpa_header {
	font-size: 23px;
	font-weight: 400;
	line-height: 29px;
	margin: 0;
	padding: 9px 15px 4px 0;
}
.tgmpa_update_php {
	width: 100%;
	height: 98%;
	min-height: 850px;
	padding-top: 1px;
}
.tgmpa_actions_row {
	color: #888;
}
